<template>
	<div id="about" class="content">
		<div>
			<img src="@/assets/avenue-barbers-street.webp" alt="Avenue Barbers" />
			<div>
				<h2>Avenue Barbers est. {{(new Date().getFullYear()-150)}} and {{(new Date().getFullYear()+25)}}</h2>
				Founded 25 years from now in a dystopian future run by machines, where hair stylists have become outlaws and haircuts are illegal;
				underground barber, Ave Nue, found his business opportunities severely limited after most of his customers became rebel freedom
				fighters and only ever wanted a buzz cut.<br/><br/>In a desperate bid to boost his failing business, Ave invented a time travelling device,
				which he built into an old barber's chair, and travelled 150 years into the past to Victorian London in the year {{(new Date().getFullYear()-150)}}
				where he opened <strong>Ave Nue's Barber Shoppe</strong> in Jermyn Street.
				<br/><br/>Once things were running smoothly, Ave travelled a decade into the future to check on the progress of his business. He repeated this process 
				many times, each time staying to help the business grow before moving on again.<br/><br/>				
				Eventually he arrived in the year {{(new Date().getFullYear()+1)}} where he sold his business and sunk all his money into a cybernetics company called Cyberdyne Systems where he created 
				the world's first robotic barber.
			</div>
		</div>
	</div>
</template>


<!-- <script>

export default {
	name: "Aboput",
	computed: {
		account() {
			return this.$store.getters['account/data'];
		},
	},
}
	</script> -->

<style scoped lang="scss">
#about.content {
	display: flex;
	flex-direction: column;
	margin: 20px;
	> div {
		margin: 0 10px 0 10px;
		border: 3px solid white;
		border-radius: 20px;
		> div {
			font-family: "Neucha", cursive;
			font-size: 1.5em;
			padding: 0px 10px 20px 10px;
		}
		> img {
			clip-path: polygon(68% 0%, 75% 10%, 78% 20%, 99% 45%, 100% 50%, 100% 73%, 86% 78%, 76% 83%, 66% 89%, 53% 98%, 51% 100%, 0 100%, 0% 0%);
			shape-outside: polygon(68% 0%, 75% 10%, 78% 20%, 99% 45%, 100% 50%, 100% 73%, 86% 78%, 76% 83%, 66% 89%, 53% 98%, 51% 100%, 0 100%, 0% 0%);
			display: block;
			border-radius: 20px;
			width: 500px;
			float: left;
		}
	}
}
</style>