<template>
	<div id="account" class="content" v-if="!loading">
		<h1>Your Account</h1>
		<div>
			<router-view :account="account" />
		</div>
	</div>
</template>

<script>
import AccountNav from "@/components/account/AccountNav.vue";

export default {
	name: "Account",
	components: {
		'account-nav': AccountNav,
	},
	data() {
		return {
			loading: true,
		};
	},
	computed: {
		account() {
			return this.$store.getters['account/data'];
		},
	},
	beforeMount() {
		const [r, g, b] = window.getComputedStyle(document.body, null).getPropertyValue('background-color').match(/\d+/g).map(Number);
		this.loadingSpinner = ElLoading.service({ fullscreen: true, background: `rgba(${r},${g},${b},0.75)` });
	},
	mounted() {
		this.$store.dispatch("account/getAccount", this.$store.state.auth.user.uid).then(() => {
			this.loading = false;
			this.loadingSpinner.close();
		});
	},
	methods: {
		permission() {
			return this.account.permissions;
		},
	},
};
</script>
<style scoped lang="scss">
#account.content {
	margin: 20px;
}
</style>