<template>
	<login v-if="action === 'login'" :redirect="redirect" />
	<register v-if="action === 'register'" :redirect="redirect" />
</template>

<script>
import Login from '@/components/auth/Login.vue';
import Register from '@/components/auth/Register.vue';

export default {
	name: "Auth",
	components: {
		'login': Login,
		'register': Register
	},
	data() {
		return {
			redirect: this.$route.query.redirect
		}
	},
	computed: {
		loggedIn() {
			return this.$store.state.auth.status.loggedIn;
		},
		action() {
			return this.$route.query.action;
		}
	},
	beforeCreate: function () {
		// if (this.$store.state.auth.status.loggedIn) {
		// 	this.$router.push("/account");
		// }
	},
	methods: {

	},
};
</script>

<style scoped lang="scss">
</style>
