<template>
	<div class="content" v-if="!loading">
		<h1>Shopping Cart</h1>
		<div v-if="cart.length !== 0">
			<div v-for="item in cart" :key="item.uid">
				<cart-item :cartItem="item" :order="order" :product="products.find(product => product.uid === item.uid)" @deleted="itemDeleted" />
			</div>
			<div class="total">Subtotal: ${{ (subTotal / 100).toFixed(2) }}</div>
			<router-link :to="{ name: 'checkout', params: { orderData: JSON.stringify(order) } }">
				<el-button size="large" color="#eb9d0c">Checkout</el-button>
			</router-link>
		</div>
		<div v-else>Your shopping cart is empty.</div>
	</div>
</template>

<script>
import CartItem from '@/components/cart/CartItem.vue';
import SearchService from "@/services/search.service";
export default {
	name: 'cart',
	components: {
		'cart-item': CartItem,
	},
	data() {
		return {
			loading: true,
			products: [],
			order: null,
		};
	},
	computed: {
		cart() {
			return this.$store.getters['cart/items'];
		},
		subTotal() {
			this.order.subTotal = this.order.orderItems.reduce((sum, item) => sum + (item.unitPrice * item.quantity), 0);
			return this.order.subTotal;
		}
	},
	created() {
	},
	beforeMount() {
		this.order = {
			accountUid: null,
			orderStatus: {},
			billingAddress: {},
			deliveryAddress: {},
			paymentProcessor: {},
			cardNonce: null,
			subTotal: 0,
			beforeTaxTotal: 0,
			shipTotal: 0,
			taxTotal: 0,
			discountTotal: 0,
			grandTotal: 0,
			orderItems: null
		};
		const [r, g, b] = window.getComputedStyle(document.body, null).getPropertyValue('background-color').match(/\d+/g).map(Number);
		this.loadingSpinner = ElLoading.service({ fullscreen: true, background: `rgba(${r},${g},${b},0.75)` });
	},
	mounted() {
		const list = this.cart.map(item => item.uid).toString();
		if (list.length > 0) {
			SearchService.searchByList(list).then(
				(response) => {
					this.products = response.data;
					if (this.products.length > 0) {

						this.order.orderItems = this.cart.map((item) => {
							const product = this.products.find(product => { return product.uid === item.uid; });
							return {
								'quantity': item.quantity,
								'unitPrice': product.unitPrice,
								'product': product
							}
						});
					} else {
						// Unable to load the cart items: clear the cart (note: this is an error condition)
						this.$store.dispatch('cart/clearCart');
					}
					this.loading = false;
					this.loadingSpinner.close();
				},
			);
		} else {
			this.loading = false;
			this.loadingSpinner.close();
		}
	},
	methods: {
		itemDeleted: function (uid) {
			console.log('debug#1');
			const index = this.order.orderItems.findIndex(item => item.uid == uid);
			this.order.orderItems.splice(index, 1);
		},
	}
};
</script>

<style scoped lang="scss">
.content {
	display: flex;
	flex-direction: column;
	margin: 20px;

	h1 {
		margin: 0 0 20px 0;
	}

	.el-button {
		margin: 20px 20px 0 0;
		float: right;
	}

	.total {
		margin: 20px 20px 0 0;
		text-align: right;
		font-size: 1.3em;
	}
}
</style>