<template>
	<div id="checkout" class="content" v-if="!loading">
		<h1>Checkout</h1>
		<div class="stepper">
			<el-steps :active="currentStep" align-center finish-status="success">
				<el-step title="Billing">
					<template #icon>
						<span class="material-icons">home</span>
					</template>
				</el-step>
				<el-step :title="this.isService ? 'Appointment' : 'Delivery'">
					<template #icon>
						<span v-if="!this.isService" class="material-icons">local_shipping</span>
						<span v-if="this.isService" class="material-icons">calendar_month</span>
					</template>
				</el-step>
				<el-step title="Payment">
					<template #icon>
						<span class="material-icons">attach_money</span>
					</template>
				</el-step>
				<el-step title="Summary">
					<template #icon>
						<span class="material-icons">playlist_add_check</span>
					</template>
				</el-step>
			</el-steps>
		</div>
		<div class="step-content">
			<div v-if="currentStep === 0" class="step billing">
				<div>
					<h3>Select your billing address</h3>
				</div>
				<div class="step-body">
					<address-list :data="billingAddresses" :default="billingAddress" :allowSelect="true" :allowNew="true" @select="setBillingAddress" />
				</div>
			</div>
			<div v-if="currentStep === 1" class="step delivery">
				<div>
					<h3 v-if="!isService">Select the store address</h3>
				</div>
				<div class="step-body">
					<address-list v-if="!isService" :data="storeAddresses" :default="deliveryAddress" :allowSelect="true" @select="setDeliveryAddress" />
					<appointment v-if="isService" :order="order" />
				</div>
			</div>
			<div v-if="currentStep === 2" class="step payment">
				<div>
					<h3>Payment</h3>
				</div>
				<div class="container">
					<div class="order-summary">
						<div>
							<h3>Order Summary</h3>
							<order-totals :order="order" />
							<square-payment :order="order" @onPay="processPayment" @loaded="squareLoaded" />
						</div>
					</div>
					<div class="addresses">
						<div>
							<h4>Billing address:</h4>
							<order-address :address="order.billingAddress" />
						</div>
						<div>
							<h4>{{ `${(isService) ? 'Appointment:' : 'Delivery address:'}` }}</h4>
							<order-address v-if="!isService" :address="order.deliveryAddress" />
							<appointment v-if="isService" :showProduct="false" :order="order" />
						</div>
					</div>
					<div class="order-items">
						<order-item v-for="item in order.orderItems" :orderItem="item" :showWriteReview="false" :allowNav="false" />
					</div>
				</div>
			</div>
			<div v-if="currentStep === 3" class="step summary">
				<div>
					<h3>Summary</h3>
				</div>
				<div class="container">
					<div class="delivery-address">
						<div>
							<h4>{{ `${(isService) ? 'Appointment at:' : 'Delivery address:'}` }}</h4>
							<order-address :address="order.deliveryAddress" />
						</div>
					</div>
					<div class="payment-info">
						<div>
							<h4>Payment method:</h4>
							<div>{{ `${order.paymentCardBrand} **** ${order.paymentCardLast4Digits}` }}</div>
						</div>
					</div>
					<div class="order-summary">
						<div>
							<h4>Order summary:</h4>
							<order-totals :order="order" />
						</div>
					</div>
					<div class="order-items">
						<order-item v-for="item in order.orderItems" :orderItem="item" :showWriteReview="false" :allowNav="false" />
					</div>
				</div>
			</div>
		</div>
		<div class="nav">
			<el-button v-if="currentStep > 0 && currentStep < 3" @click="step('back')">Back</el-button>
			<el-button v-if="currentStep < 2" type="primary" @click="step('next')">Next</el-button>
			<el-button v-if="currentStep == 3" type="primary" @click="step('done')">Continue shopping</el-button>
		</div>
		<pre>{{ JSON.stringify(order, undefined, 2) }}</pre>
	</div>
</template>

<script>
import { ElMessageBox } from 'element-plus';
import { ElMessage } from 'element-plus';
import SquarePayment from '@/components/checkout/SquarePayment.vue';
import EventService from '@/services/event.service';
import OrderService from '@/services/order.service';
import AccountService from "@/services/account.service";
import StoreService from "@/services/store.service";
import AddressList from "@/components/account/address/AddressList.vue";
import Address from "@/components/account/address/Address.vue";
import Appointment from "@/components/account/appointment/Appointment.vue";
import OrderTotals from "@/components/checkout/OrderTotals.vue";
import OrderItem from "@/components/account/order/OrderItem.vue";

export default {
	name: "checkout",
	components: {
		'square-payment': SquarePayment,
		'address-list': AddressList,
		'order-address': Address,
		'appointment': Appointment,
		'order-totals': OrderTotals,
		'order-item': OrderItem,
	},
	props: {
		orderData: { default: null, type: String },
	},
	data() {
		return {
			loading: true,
			currentStep: 0,
			billingAddresses: [],
			stores: [],
			order: null,
			event: null,
		};
	},
	computed: {
		currentUser() {
			return this.$store.state.auth.user;
		},
		storeAddresses() {
			return this.stores.map(store => store.address);
		},
		isService() {
			return (this.order.orderItems.length === 1 && this.order.orderItems[0].isService)
		},
		billingAddress() {
			return (this.order.billingAddress);
		},
		deliveryAddress() {
			return (this.order.deliveryAddress);
		},
	},
	created() {
		this.order = JSON.parse(this.orderData);
		this.order.accountUid = this.$store.state.auth.user.uid;
	},
	beforeRouteLeave(to, from) {
		if (this.isService && this.currentStep !== 3) {
			// Navigating away during checkout cancels a service appointment
			return (window.confirm('This will cancel your appointment.\n\nAre you sure?'));
		}
	},
	beforeMount() {
		const [r, g, b] = window.getComputedStyle(document.body, null).getPropertyValue('background-color').match(/\d+/g).map(Number);
		this.loadingSpinner = ElLoading.service({ fullscreen: true, background: `rgba(${r},${g},${b},0.75)` });
	},
	mounted() {
		Promise.all([
			AccountService.getAccountAddresses(this.$store.state.auth.user.uid).then(
				response => {
					this.billingAddresses = response.data;
				}
			),
			StoreService.getStores().then(
				response => {
					this.stores = response.data;
				}
			)
		]).then(() => {
			this.loading = false;
			this.loadingSpinner.close();
		});
	},
	methods: {
		squareLoaded: function () {
			this.loading = false;
			this.loadingSpinner.close();
		},
		setBillingAddress: function (address) {
			this.order.billingAddress = address;
		},
		setDeliveryAddress: function (address) {
			this.order.deliveryAddress = address;
		},
		calculateTotals: function () {
			this.order.shipTotal = 0;
			this.order.discountTotal = 0;
			this.order.beforeTaxTotal = this.order.discountTotal = this.order.taxTotal = this.order.grandTotal = 0;
			this.order.beforeTaxTotal = ((this.order.subTotal + this.order.beforeTaxTotal) - this.order.discountTotal);
			const regionTax = this.order.beforeTaxTotal * (this.order.billingAddress.region.tax / 100);
			const countryTax = this.order.beforeTaxTotal * (this.order.billingAddress.country.tax / 100);
			this.order.taxTotal = Math.round(regionTax + countryTax);
			this.order.grandTotal = (this.order.beforeTaxTotal + this.order.taxTotal);
		},
		processPayment: function (tokenResult, squareScript) {
			if ((tokenResult.status == "OK") && (tokenResult.token.length)) {
				const [r, g, b] = window.getComputedStyle(document.body, null).getPropertyValue('background-color').match(/\d+/g).map(Number);
				this.loadingSpinner = ElLoading.service({ fullscreen: true, background: `rgba(${r},${g},${b},0.75)` });

				this.order.paymentProcessor.uid = 'f777d03b-b848-420c-b438-5a1ce126b062'; // TODO: Should not be hardcoded!
				this.order.cardNonce = tokenResult.token;
				this.order.containsService = (this.isService) ? this.isService : false;

				if (this.isService) {
					// This is a service order: create the event
					if (!this.event) {
						EventService.createEvent(this.order.orderItems[0].event)
							.then(
								(response) => {
									this.event = response.data;
									this.order.orderItems[0].event.uid = this.event.uid;
									this.order['orderStatus'] = { uid: 'ad6b54f1-6199-17eb-ae33-0272ac140002' }	// TODO: Should not be hardcoded!
									this.createOrder(squareScript);
								})
					} else {
						this.createOrder(squareScript);
					}
				} else {
					this.createOrder(squareScript);
				}
			}
		},
		createOrder: function (squareScript) {
			OrderService.createOrder(this.order)
				.then(
					(response) => {
						this.order = response.data;
						this.$store.dispatch('cart/clearCart');
						this.step('next');
					},
					(error) => {
						ElMessageBox.alert('There was an error with the payment, please check your card details and try again.', 'Error with Payment');
						const product = (error.response && error.response.data && error.response.data.message) || error.message || error.toString();
						this.order.orderItems[0].event.uid = null;
					})
				.finally(() => {
					this.loading = false;
					this.loadingSpinner.close();
				});
		},
		step: function (direction) {
			switch (direction) {
				case 'back':
					this.currentStep = (this.currentStep === 0 ? 0 : this.currentStep - 1);
					// TODO
					break;
				case 'next':
					if (this.currentStep === 0) {
						if (!Object.keys(this.order.billingAddress).length) {
							ElMessage({ message: `Select a billing address.`, type: 'warning' });
							break;
						}
					} else if (this.currentStep === 1) {
						if (!Object.keys(this.order.deliveryAddress).length) {
							ElMessage({ message: `Select a delivery address.`, type: 'warning' });
							break;
						}
						const [r, g, b] = window.getComputedStyle(document.body, null).getPropertyValue('background-color').match(/\d+/g).map(Number);
						this.loadingSpinner = ElLoading.service({ fullscreen: true, background: `rgba(${r},${g},${b},0.75)` });
						this.calculateTotals();
					} else if (this.currentStep === 2) {
						if (!this.order.uid.length) {
							ElMessage({ message: `A payment is required.`, type: 'warning' });
							break;
						}
						ElMessage({ message: `Thank you. Your order has been received.`, type: 'success' });
					}
					this.currentStep = (this.currentStep === 3 ? 3 : this.currentStep + 1);
					break;
				case 'done':
					this.$router.push({ name: 'home' });
			}
		},
	}
};
</script>

<style scoped lang="scss">
#checkout.content {
	display: flex;
	flex-direction: column;
	margin: 20px;

	.stepper {
		margin: 20px 0 20px 0;

		.el-steps {
			:deep(.el-step__icon) {
				background-color: invert($color-success, 10%);
			}

			:deep(.el-step__icon.is-text) {
				border: none;

				span {
					font-size: 2em;
					background-color: $color-shadow;
					padding: 10px;
					border-radius: 50%;
				}
			}
		}

		:deep(.is-process) {
			color: $color-info;
		}

		:deep(.is-success) {
			color: $color-success;

			.is-status {
				color: invert($color-primary, 100%);
			}
		}
	}

	.step-content {
		flex: 1;

		.step {
			box-shadow: $color-shadow 0px 0px 2px 1px;
			border-radius: 10px;
			padding: 20px;

			h3 {
				margin: 0 0 20px 0;
			}

			h4 {
				margin: 0 0 3px 0;
				font-size: 0.8em;
				color: invert($color-background, 50%);
			}
		}

		.payment {
			.container {
				display: grid;
				grid-template-columns: 1fr auto;
				grid-template-rows: auto 1fr;
				gap: 20px 20px;
				grid-auto-flow: row;
				grid-template-areas:
					"addresses order-summary"
					"order-items order-summary";

				.order-summary {
					grid-area: order-summary;
					justify-self: end;

					>div {
						box-shadow: $color-shadow 0px 0px 3px 2px;
						border-radius: 10px;
						padding: 20px;
					}
				}

				.addresses {
					grid-area: addresses;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					box-shadow: $color-shadow 0px 0px 3px 2px;
					border-radius: 10px;
					padding: 20px;

					>div {
						margin: 0 20px 10px 0;
					}
				}

				.order-items {
					grid-area: order-items;
					box-shadow: $color-shadow 0px 0px 3px 2px;
					border-radius: 10px;
					padding: 20px;
				}
			}
		}

		.summary {
			.container {
				display: grid;
				grid-template-columns: auto 1fr auto;
				grid-template-rows: auto auto;
				gap: 20px 20px;
				grid-auto-flow: row;
				grid-template-areas:
					"delivery-address payment-info order-summary"
					"order-items order-items order-items";
			}

			.delivery-address {
				grid-area: delivery-address;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				box-shadow: $color-shadow 0px 0px 3px 2px;
				border-radius: 10px;
				padding: 20px;

				>div {
					margin: 0 20px 10px 0;
				}
			}

			.payment-info {
				grid-area: payment-info;
				display: flex;
				flex-direction: column;

				>div {
					flex: 1;
					box-shadow: $color-shadow 0px 0px 3px 2px;
					border-radius: 10px;
					padding: 20px;
				}
			}

			.order-summary {
				grid-area: order-summary;
				justify-self: end;

				>div {
					box-shadow: $color-shadow 0px 0px 3px 2px;
					border-radius: 10px;
					padding: 20px;
				}
			}

			.order-items {
				grid-area: order-items;
				box-shadow: $color-shadow 0px 0px 3px 2px;
				border-radius: 10px;
				padding: 20px;
			}
		}
	}

	.nav {
		text-align: right;
		margin: 20px 20px 10px 0;
	}
}
</style>