<template>
	<div id="contact" class="content">
		<h1>Contact Avenue Barbers</h1>
		<div>
			<strong>Phone Number: </strong>(403)455-4431<br>
			<strong>Email: </strong>avenuebarbers@gmail.com<br><br>
		</div>

		<h1>Avenue Barbers' Location</h1>
		<div>
			Unit A - 3701 17th Ave SW<br>
			Calgary, AB, CANADA<br>
			T3E 0C1<br>

			<h4>Directions:</h4>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.8392963555543!2d-114.14216168430492!3d51.03758877956072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53716e24c4cfffff%3A0x4763efa4d21006ce!2sAvenue%20Barbers!5e0!3m2!1sen!2sca!4v1648855298792!5m2!1sen!2sca" width="600" height="450" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
</template>

<style scoped lang="scss">
#contact.content {
	display: flex;
	flex-direction: column;
	margin: 20px;
}
</style>