<template>
	<div id="faq" class="content">
		<h1>Frequently Asked Questions</h1>
		<el-collapse accordion>
			<el-collapse-item title="What if I'm late for my appointment?">
				<div>Unfortunately we are unable to cut your hair without you.</div>
			</el-collapse-item>
			<el-collapse-item title="What if I don't like my haircut?">
				<div>Just wait 4-6 weeks and book another appointment.</div>
			</el-collapse-item>
			<el-collapse-item title="Is there a 'no small talk' option?">
				<div>No, our barbers went to barber college for many years to learn how to make small talk endlessly while cutting hair. If you do not wish to hear about the weather, last night's game, or summer vacation plans, please bring noise-cancelling headphones with you.</div>
			</el-collapse-item>
			<el-collapse-item title="Can I bring my dog?">
				<div>Yes, but not for a haircut.</div>
			</el-collapse-item>
			<el-collapse-item title="Can you make me look like <insert celebrity name here>?">
				<div>No. Almost certainly not.</div>
			</el-collapse-item>
			<el-collapse-item title="I'm weaving a rug, can I take my leftover hair with me?">
				<div>Wait. What? People actually ask this? Frequently? </div>
			</el-collapse-item>
		</el-collapse>
	</div>
</template>

<style scoped lang="scss">
#faq.content {
	display: flex;
	flex-direction: column;
	margin: 20px;

	h1{
		margin: 10px 0 20px 10px;
	}
	.el-collapse {
		margin: 0 10px 0 10px;
		box-shadow: $color-shadow 0px 0px 2px 1px;
		border-radius: 10px;
		--el-collapse-header-font-size: 1.2em;
		--el-collapse-content-text-color: $color-text;
		--el-collapse-header-text-color: $color-text;
		--el-collapse-content-bg-color: transparent;
		--el-collapse-header-bg-color: transparent;
		color: $color-text;
		padding: 20px;
		.el-collapse-item {
			div {
				margin: 5px 0 0 0;
				font-size: 1.2em;
			}
		}
	}
}
</style>