<template>
	<div id="home" class="content" v-if="!loading">
		<div id="spotlight" class="showcase categories">
			<swiper v-bind="swiperOptions" :modules="modules">
				<swiper-slide v-for="category in categories" :key="category">
					<router-link :to="{ name: 'search', query: { category: category.uid } }">
						<div>
							<div class="category-title">{{ category.name }}</div>
							<img :src="`${path}/${category.src}`" />
						</div>
					</router-link>
				</swiper-slide>
			</swiper>
		</div>
		<div class="banner">
			<img :src="`${path}/images/banner/01.jpg`" />
		</div>
		<div id="top-rated" class="showcase products">
			<swiper v-bind="swiperOptions" :modules="modules">
				<swiper-slide v-for="product in topRated" :key="product">
					<div class="results" :style="{ height: (resultWidth * 1.5) + 'px', width: resultWidth + 'px', fontSize: (this.resultWidth / 20) + 'px' }">
						<search-result :product="product" class="search-result" />
					</div>
				</swiper-slide>
			</swiper>
		</div>
		<div class="banner">
			<img :src="`${path}/images/banner/02.jpg`" />
		</div>
		<div id="random" class="showcase products">
			<swiper v-bind="swiperOptions" :modules="modules">
				<swiper-slide v-for="product in random" :key="product">
					<div class="results" :style="{ height: (resultWidth * 1.5) + 'px', width: resultWidth + 'px', fontSize: (this.resultWidth / 20) + 'px' }">
						<search-result :product="product" class="search-result" />
					</div>
				</swiper-slide>
			</swiper>
		</div>
		<div class="banner">
			<img :src="`${path}/images/banner/03.jpg`" />
		</div>
	</div>
</template>

<script>
import SearchService from '@/services/search.service';
import SearchResult from '@/components/search/SearchResult.vue'
import { Swiper, SwiperSlide } from 'swiper/vue';
import { Navigation, Autoplay } from "swiper";
import 'swiper/scss';
import 'swiper/scss/navigation';

export default {
	name: "home",
	components: {
		SearchResult,
		Swiper,
		SwiperSlide,
	},
	data() {
		return {
			loading: true,
			path: `${import.meta.env.VITE_API_BASE_URL}`,
			topRated: null,
			random: null,
			resultWidth: 250,
			swiperOptions: {
				navigation: true,
				loop: true,
				autoplay: {
					delay: 3000,
					disableOnInteraction: true,
				},
				breakpoints: {
					'640': {
						slidesPerView: 2,
						spaceBetween: 5,
					},
					'768': {
						slidesPerView: 3,
						spaceBetween: 10,
					},
					'1024': {
						slidesPerView: 4,
						spaceBetween: 15,
					},
					'2048': {
						slidesPerView: 6,
						spaceBetween: 15,
					},
				},
			},
		};
	},
	computed: {
		categories() {
			return this.$store.getters['category/data'];
		},
	},
	methods: {
		setFallbackImage: function (e) {
			e.target.src = `${import.meta.env.VITE_API_BASE_URL}/images/image-missing.jpg`;
		},
		setImage: function () {
			if (this.product.imageSrc.includes('http')) {
				return this.product.imageSrc;
			} else {
				return `${import.meta.env.VITE_API_BASE_URL}/${this.product.imageSrc}`;
			}
		},
	},
	setup() {
		return {
			modules: [Navigation, Autoplay],
		};
	},
	beforeMount() {
		const [r, g, b] = window.getComputedStyle(document.body, null).getPropertyValue('background-color').match(/\d+/g).map(Number);
		this.loadingSpinner = ElLoading.service({ fullscreen: true, background: `rgba(${r},${g},${b},0.75)` });
	},
	mounted() {
		Promise.all([
			this.$store.dispatch("category/getCategories"),
			SearchService.searchTopRated(12).then(
				response => {
					this.topRated = response.data;
				}
			),
			SearchService.searchRandom(12).then(
				response => {
					this.random = response.data;
				}
			)
		]).then(() => {
			this.loading = false;
			this.loadingSpinner.close();
		});
	},
	methods: {
		setFallbackImage: function (e) {
			e.target.src = `${import.meta.env.VITE_API_BASE_URL}/images/image-missing.jpg`;
		},
		setImage: function (product) {
			if (product.imageSrc.includes('http')) {
				return product.imageSrc;
			} else {
				return `${import.meta.env.VITE_API_BASE_URL}/${product.imageSrc}`;
			}
		},
	}
};
</script>

<style scoped lang="scss">
#home.content {
	.showcase {
		background-color: $color-background;
		width: 100%;
		&.categories {
			.category-title {
				z-index: 1;
				background-color: transparent;
				color: #fff;
				font-family: "Righteous", cursive;
				font-size: 2.5em;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: rgb(186, 186, 186);
				position: fixed;
				margin: 10px 0 0 10px;
				line-height: 1.6ex;
				text-align: left;
			}
		}
		&.products {
		}
	}
	.banner {
		display: flex;
		height: 350px;
		width: 100%;
		opacity: 0.8;
		img {
			width: 100%;
			object-fit: cover;
		}
	}

	.swiper {
		width: 100%;
		height: 100%;
		:deep(.swiper-wrapper) {
			padding: 20px 0 20px 0;
		}
		.swiper-slide {
			text-align: center;
			font-size: 18px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		}
		.swiper-slide img {
			display: block;
			width: 100%;
			height: 300px;
			object-fit: cover;
		}
		.swiper-slide .search-result {
			height: 100%;
		}
	}
}
</style>