<template>
	<div id="not-found" class="content">
		<h2>Page not found</h2>
		<img src="@/assets/404.png" />
		<h3>Oops. This is not the haircut you're looking for.</h3>
	</div>
</template>

<script>

export default {
	name: "PageNotFound",
};
</script>

<style scoped lang="scss">
#not-found.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	img {
		width: 200px;
	}
}
</style>