<template>
	<div id="product" class="content" v-if="!loading">
		<div class="main">
			<div class="images">
				<el-carousel :indicator-position="product.images.length === 1 ? 'none' : 'outside'" :arrow="product.images.length === 1 ? 'never' : ''" :autoplay="false" trigger="click">
					<el-carousel-item v-for="image in product.images" :key="image">
						<img :src="setImage(image.src)" :alt="image.alt" @error="setFallbackImage" class="image" />
					</el-carousel-item>
				</el-carousel>
			</div>
			<div class="details">
				<div>
					<div>
						<h1>{{ product.name }}</h1>
					</div>
					<div>
						<h2>{{ product.vendor }}</h2>
					</div>
					<div class="price">${{ (product.unitPrice / 100).toFixed(2) }}</div>
					<div>
						<el-rate v-model="product.averageRating" size="large" disabled text-color="ff9900"></el-rate>
					</div>
					<div class="stock" v-if="!product.productType.category.isService">
						{{product.stockQuantity}} in stock.
					</div>
				</div>
			</div>
			<div class="cartButton">
				<el-button v-if="!product.productType.category.isService" :disabled="product.stockQuantity === 0" size="large" color="#eb9d0c" plain @click="addToCart(product.uid)">{{ (product.stockQuantity) ? 'Add to Cart' : 'Out of Stock' }}</el-button>
				<quantity-button v-if="!product.productType.category.isService && product.stockQuantity > 0" class="quantity" :initial="quantity" :max="product.stockQuantity" :min="1" @increment="incrementQuantity" @decrement="decrementQuantity" />
				<appointment-edit v-if="product.productType.category.isService" :product="product" @book="bookAppointment" />
			</div>
		</div>
		<div class="description">
			<el-collapse v-model="activeSection">
				<div v-for="(entry, index) in this.getDescription()">
					<el-collapse-item :title="entry.title" :name="index">
						<div class="entry" v-html="entry.content"></div>
					</el-collapse-item>
				</div>
			</el-collapse>
		</div>
	</div>
	<!-- <pre>{{ JSON.stringify(product, undefined, 2) }}</pre> -->
</template>


<script>
import { ElMessage } from 'element-plus';
import ProductService from "@/services/product.service";
import AppointmentEdit from '@/components/account/appointment/AppointmentEdit.vue';
import QuantityButton from '@/components/controls/QuantityButton.vue';

export default {
	name: "Product",
	data() {
		return {
			loading: true,
			product: null,
			order: null,
			quantity: 1,
			activeSection: [0]
		};
	},
	components: {
		'appointment-edit': AppointmentEdit,
		"quantity-button": QuantityButton,
	},
	beforeMount() {
		const [r, g, b] = window.getComputedStyle(document.body, null).getPropertyValue('background-color').match(/\d+/g).map(Number);
		this.loadingSpinner = ElLoading.service({ fullscreen: true, background: `rgba(${r},${g},${b},0.75)` });
	},
	mounted() {
		window.scrollTo(0, 2);
		ProductService.getProduct(this.$route.query.id).then(
			(response) => {
				this.product = response.data;
				if (this.product.productType.category.isService) {
					// This is a service product: expand all the description sections
					this.activeSection = Array.from(Array(99).keys());
				}
				document.title = this.product.name;
				this.loading = false;
				this.loadingSpinner.close();
			},
			(error) => {
				this.$router.replace({ path: '/not-found' });
			}
		);
	},
	methods: {
		setFallbackImage: function (e) {
			e.target.src = `${import.meta.env.VITE_API_BASE_URL}/images/image-missing.jpg`;
		},
		setImage: function (src) {
			if (src.includes('http')) {
				return src;
			} else {
				return `${import.meta.env.VITE_API_BASE_URL}/${src}`;
			}
		},
		incrementQuantity(value) {
			this.quantity = value;
		},
		decrementQuantity(value) {
			this.quantity = value;
		},
		bookAppointment: function (order) {
			this.$router.push({ name: 'checkout', params: { productUid: this.product.uid, orderData: JSON.stringify(order) } });
		},
		addToCart: function (productId) {
			ElMessage({
				message: `Item has been added to your cart.`,
				type: 'success',
			})
			this.$store.dispatch('cart/addItem', { uid: productId, quantity: this.quantity, stockQuantity: this.product.stockQuantity });
		},
		getDescription: function () {
			let el = document.createElement('html');
			el.innerHTML = this.product.description;

			let tags = el.getElementsByTagName('h5');
			let entries = new Array();
			for (const tag of tags) {
				const entry = {
					title: tag.innerHTML.replace(/(<([^>]+)>)/ig, ''),
					content: tag.nextSibling.outerHTML
				};
				entries.push(entry);
			}
			return entries;
		},
	}
};
</script>

<style scoped lang="scss">
@use 'sass:color';

#product.content {
	display: flex;
	flex-direction: column;
	padding: 20px 20px 20px 20px;
	text-align: left;

	.main {
		display: flex;
		flex-direction: row;
		margin-bottom: 10px;

		h1 {
			font-size: 1.8em;
			margin: 0;
		}

		h2 {
			font-size: 1em;
			margin: 0;
		}

		.images {
			width: 300px;
			margin-right: 20px;
			background-color: $color-background;
			box-shadow: $color-shadow 0px 0px 3px 2px;
			border-radius: 10px;

			.el-carousel {
				padding: 12px;
				border-radius: 10px;

				img {
					border-radius: 5px;
					width: 100%;
				}
			}
		}

		.details {
			flex: 1;
		}

		.cartButton {
			display: flex;
			flex-direction: column;
			align-items: center;

			.quantity {
				margin-top: 10px;
			}
		}

		.price {
			font-size: 18pt;
			font-weight: 400;
			margin-top: 10px;
		}

		.el-rate {
			margin-top: 5px;
		}
	}

	.description {
		margin: 5px 0 0 0;

		.entry {
			font-size: 1.2em;
		}
	}

	.el-collapse {
		box-shadow: $color-shadow 0px 0px 2px 1px;
		border-radius: 10px;
		--el-collapse-header-font-size: 1.3em;
		--el-collapse-content-text-color: $color-text;
		--el-collapse-header-text-color: $color-text;
		--el-collapse-content-bg-color: transparent;
		--el-collapse-header-bg-color: transparent;
		color: $color-text;
		padding: 20px;
	}

	.el-container.loading {
		border: 10px solid black !important;
		background-color: red;
		--el-popup-modal-bg-color: rgb(241, 0, 20);
		--el-popup-modal-opacity: 1;
	}
}
</style>
