<template>
	<div id="search" class="content" v-if="!loading">
		<div class="results" :style="{ height: (resultWidth * 1.5) + 'px', width: resultWidth + 'px', fontSize: (this.resultWidth / 20) + 'px' }" v-for="(product, index) in results">
			<search-result :product="product" class="search-result" />
		</div>
		<div v-if="this.isEmpty && !loading" class="no-results">No results were found. Check your spelling or try a more general search.</div>
	</div>
</template>

<script>
import SearchResult from '@/components/search/SearchResult.vue'

export default {
	name: "search",
	components: {
		'search-result': SearchResult,
	},
	data() {
		return {
			loading: true,
			keywords: null,
			category: null,
			contentHeight: window.document.getElementById("content").clientHeight,
			contentWidth: window.document.getElementById("content").clientWidth,
			resultWidth: 230,
		}
	},
	computed: {
		isEmpty() {
			return this.$store.getters['search/isEmpty'];
		},
		results() {
			return this.$store.getters['search/data'];
		},
	},
	beforeRouteUpdate(to, from, next) {
		// If the search terms changed we need to trigger a new search
		if (to.fullPath !== from.fullPath) {
			this.loading = true;
			this.$store.dispatch("search/reset");
			this.load(to.query.keywords, to.query.category);
		}
		next();
	},
	beforeMount() {
		const [r, g, b] = window.getComputedStyle(document.body, null).getPropertyValue('background-color').match(/\d+/g).map(Number);
		this.loadingSpinner = ElLoading.service({ fullscreen: true, background: `rgba(${r},${g},${b},0.75)` });
	},
	mounted() {
		this.$store.dispatch("search/reset");
		this.load(this.$route.query.keywords, this.$route.query.category);
	},
	methods: {
		load: async function (keywords, category) {
			this.keywords = (keywords) ? keywords : null;
			this.category = (category) ? category : null;
			if (this.category && this.keywords) {
				this.$store.dispatch(`search/byCategoryAndKeyword`, { category: this.category, keywords: this.keywords, sort: 'high' }).then(() => {
					this.loading = false
					this.loadingSpinner.close();
				});
			} else if (this.category) {
				this.$store.dispatch(`search/byCategory`, { category: this.category, sort: 'high' }).then(() => {
					this.loading = false
					this.loadingSpinner.close();
				});
			} else if (this.keywords) {
				await this.$store.dispatch(`search/byKeyword`, { keywords: this.keywords, sort: 'high' }).then(() => {
					this.loading = false
					this.loadingSpinner.close();
				});
			}
		},
	}
};
</script>

<style scoped lang="scss">
#search.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 20px;
	margin: 10px;
	.results {
	}
	.no-results {
		width: 100%;
		margin: 20px;
		justify-self: center;
		text-align: center;
	}
}
</style>