<template>
	<div id="account-user" class="content">
		<account-nav :options="options" />
		<router-view :account="account" />
	</div>
</template>
<script>

export default {
	name: "account-user",
	props: {
		account: {
			default: null,
			type: Object
		},
	},
	data() {
		return {
			options: [
				{ title: 'Account', description: 'Account settings', icon: 'person', path: '/account/user/settings' },
				{ title: 'Security', description: 'Change your password', icon: 'security', path: '/account/user/security' },
				{ title: 'Appointments', description: 'Your bookings', icon: 'calendar_month', path: '/account/user/schedule' },
				{ title: 'Orders', description: 'Your purchases', icon: 'shopping_basket', path: '/account/user/orders' },
				{ title: 'Addresses', description: 'Manage addresses', icon: 'home', path: '/account/user/addresses' },
				{ title: 'Reviews', description: 'Your product reviews', icon: 'reviews', path: '/account/user/reviews' },
			]
		};
	},
};
</script>

<style scoped lang="scss">
#account-user.content {
	display: flex;
	flex-direction: column;
}
</style>