<template>
	<div id="account-admin" class="content">
		<account-nav :options="options" />
		<router-view :account="account" />
	</div>
</template>
<script>

export default {
	name: "account-admin",
	props: {
		account: {
			default: null,
			type: Object
		},
	},
	data() {
		return {
			options: [
				{ title: 'Account', description: 'Account settings', icon: 'person', path: '/account/admin/settings' },
				{ title: 'Security', description: 'Change your password', icon: 'security', path: '/account/admin/security' },
				{ title: 'Orders', description: 'Customer orders', icon: 'shopping_basket', path: '/account/admin/orders' },
				{ title: 'Addresses', description: 'Manage store locations', icon: 'home', path: '/account/admin/addresses' },
				{ title: 'Reviews', description: 'Customer reviews', icon: 'reviews', path: '/account/admin/reviews' },
				{ title: 'Schedule', description: 'Employee calendars', icon: 'calendar_month', path: '/account/admin/schedule' },
			]
		};
	},
};
</script>

<style scoped lang="scss">
#account-admin.content {
	display: flex;
	flex-direction: column;
}
</style>