<template>
	<div id="account-security" class="content">
		<h2>Change Password</h2>
		<vee-form v-slot="{ handleSubmit }" :validation-schema="schema" as="div">
			<el-form @submit="handleSubmit($event, onSubmit)">
				<vee-field name="password" v-slot="{ value, field, errorMessage }" type="password">
					<el-form-item :error="errorMessage">
						<el-input placeholder="Old Password" v-bind="field" :model-value="value" type="password" />
					</el-form-item>
				</vee-field>
				<vee-field name="newPassword" v-slot="{ value, field, errorMessage }" type="password">
					<el-form-item :error="errorMessage">
						<el-input placeholder="New Password" v-bind="field" :model-value="value" type="password" />
					</el-form-item>
				</vee-field>
				<vee-field name="passwordConfirmation" v-slot="{ value, field, errorMessage }" type="password">
					<el-form-item :error="errorMessage">
						<el-input placeholder="Confirm Password" v-bind="field" :model-value="value" type="password" />
					</el-form-item>
				</vee-field>
				<div class="button">
					<el-button type="primary" native-type="submit">
						<span>Change password</span>
					</el-button>
				</div>
			</el-form>
		</vee-form>
	</div>
</template>

<script>
import { ElMessage } from "element-plus";
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
import authService from "../../services/auth.service";

export default {
	name: "account-security",
	components: {
		'vee-form': Form,
		'vee-field': Field,
		'vee-error': ErrorMessage,
	},
	props: {
		account: {
			default: null,
			type: Object
		},
	},
	data() {
		const schema = yup.object().shape({
			uid: yup.string(),
			eMail: yup.string(),
			password: yup.string().required("Password is required"),
			newPassword: yup.string().required('New password is required').notOneOf([yup.ref('password'), null], 'New and old passwords cannot be the same.'),
			passwordConfirmation: yup.string().required('Re-enter the new password').oneOf([yup.ref('newPassword'), null], 'Passwords do not match'),
		});
		return {
			schema,
			data: null,
		}
	},
	methods: {
		onSubmit(user) {
			let data = JSON.parse(JSON.stringify(this.$store.state.auth.user));
			user.eMail = data.eMail;
			this.message = "";
			this.$store.dispatch("auth/checkLogin", user).then(
				(response) => {
					user.uid = this.$store.state.auth.user.uid;
					authService.changePassword(user).then(
						(response) => {
							ElMessage({	message: 'Password changed. Please sign in again.',	type: 'success'	})
							this.$store.dispatch("auth/logout");
							this.$router.push({ name: 'auth', query: { action: 'login', redirect: this.redirect } });
						},
						(error) => {
							ElMessage({	message: 'Something went wrong. Please try again.',	type: 'error'	})
						}
					)
				},
				(error) => {
					ElMessage({ message: 'Failed to verify your credentials. Please try again.', type: 'error' })
				}
			);
		}
	}
};
</script>

<style scoped lang="scss">
#account-security.content {
	display: flex;
	flex-direction: column;
	color: $color-text;
	background-color: $color-background;
	box-shadow: $color-shadow 0px 0px 3px 2px;
	border-radius: 10px;
	padding: 0 20px 20px 20px;
	width: 300px;
	& .button {
		text-align: right;
	}
}
</style>