<template>
	<div id="account-nav" class="content">
		<div class="options" v-for="(option, index) in options">
			<router-link :to="{ path: option.path }">
				<button ref="buttons" @click="select()">
					<div class="button-icon">
						<span class="material-icons">{{ option.icon }}</span>
					</div>
					<div class="button-title">{{ option.title }}</div>
					<div class="button-description">{{ option.description }}</div>
				</button>
			</router-link>
		</div>
	</div>
</template>

<script>

export default {
	name: "AccountNav",
	props: {
		options: {
			default: null,
			type: Object
		},
	},
	watch: {
		$route() {
			this.select();
		}
	},
	mounted() {
		this.select();
	},
	methods: {
		select: function () {
			const selectedButton = this.options.findIndex(option => { return this.$route.fullPath.includes(option.path); })
			if (selectedButton >= 0) {
				this.$refs.buttons.forEach(button => { button.classList.remove('active')});
				this.$refs.buttons[selectedButton].classList.toggle('active');
			}
		}
	}
}
</script>

<style scoped lang="scss">
#account-nav.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 20px 0 20px 0;

	div.options {
		button {
			display: inline-grid;
			grid-template-columns: min-content 2fr;
			grid-template-rows: min-content min-content;
			color: var(--el-text-color-primary);
			margin: 0 10px 10px 0;
			padding: 10px;
			width: 200px;
			text-align: left;
			border:unset;
			border-radius: 9px;
			cursor: pointer;
			background-color: var(--el-color-primary-light-8);

			.button-icon {
				grid-row: 1 / 3;
				grid-column: 1;
				margin-right: 5px;
				align-self: center;
				span {
					font-size: 40px;
					width: 40px;
				}
			}
			.button-title {
				grid-row: 1;
				grid-column: 2;
				font-size: 1.2em;
				font-weight: 500;
				align-self: flex-end;
			}
			.button-description {
				grid-row: 2;
				grid-column: 2;
				font-size: 0.9em;
				font-weight: 100;
				align-self: flex-start;
			}
		}
		button.active {
			background-color: var(--el-color-primary-light-2);
		}
		button.active:hover {
			background-color: var(--el-color-primary-light-2);			
		}
		button:hover {
			background-color: var(--el-color-primary-light-7);
		}
	}
}
</style>