<template>
	<div id="account-settings" class="content">
		<h2>Account Settings</h2>
		<div>
				<strong>Full Name: </strong>{{ account.fullName }}<br/><strong>Preferred Name: </strong>{{ account.preferredName }}
		</div>
	</div>
</template>
<script>


export default {
	name: "account-settings",
	props: {
		account: {
			default: null,
			type: Object
		},
	},
};
</script>

<style scoped lang="scss">
#account-settings.content {
	display: flex;
	flex-direction: column;
}
</style>