<template>
	<div id="account-employee" class="content">
		<account-nav :options="options" />
		<router-view :account="account" />
	</div>
</template>
<script>

export default {
	name: "account-employee",
	props: {
		account: {
			default: null,
			type: Object
		},
	},
	data() {
		return {
			options: [
				{ title: 'Account', description: 'Account settings', icon: 'person', path: '/account/employee/settings' },
				{ title: 'Security', description: 'Change your password', icon: 'security', path: '/account/employee/security' },
				{ title: 'Schedule', description: 'Your calendar', icon: 'calendar_month', path: '/account/employee/schedule' },
				{ title: 'Reviews', description: 'Your customer reviews', icon: 'reviews', path: '/account/employee/reviews' },
			]
		};
	},
};
</script>

<style scoped lang="scss">
#account-employee.content {
	display: flex;
	flex-direction: column;
}
</style>