<template>
	<div class="content" v-loading="loading" element-loading-text="Registering...">
		<el-card :body-style="{ padding: '20px', height: '400px' }">
			<vee-form v-slot="{ handleSubmit }" :validation-schema="schema" as="div">
				<el-form @submit="handleSubmit($event, onSubmit)">
					<span class="material-icons">person</span>
					<vee-field name="fullName" v-slot="{ value, field, errorMessage }">
						<el-form-item :error="errorMessage">
							<el-input placeholder="Full Name" v-bind="field" :model-value="value" />
						</el-form-item>
					</vee-field>
					<vee-field name="preferredName" v-slot="{ value, field, errorMessage }">
						<el-form-item :error="errorMessage">
							<el-input placeholder="Preferred Name" v-bind="field" :model-value="value" />
						</el-form-item>
					</vee-field>
					<vee-field name="eMail" v-slot="{ value, field, errorMessage }">
						<el-form-item :error="errorMessage">
							<el-input placeholder="Email Address" v-bind="field" :model-value="value" />
						</el-form-item>
					</vee-field>
					<vee-field name="password" v-slot="{ value, field, errorMessage }" type="password">
						<el-form-item :error="errorMessage">
							<el-input placeholder="Password" v-bind="field" :model-value="value" type="password" />
						</el-form-item>
					</vee-field>
					<div class="button">
						<el-button type="primary" native-type="submit" :disabled="loading">
							<span>Register</span>
						</el-button>
					</div>
					<div class="login-register">
						<router-link replace :to="{ path: `/auth`, query: { action: 'login' } }" class="nav-link">Already registered? Click here to sign-in.</router-link>
					</div>
				</el-form>
			</vee-form>
		</el-card>
	</div>
</template>

<script>
import { ElMessage } from 'element-plus';
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
	name: "Register",
	components: {
		'vee-form': Form,
		'vee-field': Field,
		'vee-error': ErrorMessage,
	},
	props: {
		redirect: String
	},
	data() {
		const schema = yup.object().shape({
			fullName: yup
				.string()
				.required("Full Name is required")
				.min(2, "Must be at least 2 characters")
				.max(50, "Must be maximum 50 characters!"),
			preferredName: yup
				.string()
				.required("Preferred Name is required")
				.min(2, "Must be at least 2 characters")
				.max(50, "Must be maximum 50 characters"),
			eMail: yup
				.string()
				.required("Email is required")
				.email("Email is invalid")
				.max(50, "Must be maximum 50 characters"),
			password: yup
				.string()
				.required("Password is required")
				.min(6, "Must be at least 6 characters")
				.max(100, "Must be maximum 100 characters"),
		});

		return {
			loading: false,
			schema,
		};
	},
	computed: {
		loggedIn() {
			return this.$store.state.auth.status.loggedIn;
		},
	},
	methods: {
		onSubmit(user) {
			this.message = "";
			this.loading = true;

			this.$store.dispatch("auth/register", user).then(
				(user) => {
					ElMessage({
						message: `You're registered, ${user.preferredName}. Please login.`,
						type: 'success',
					})
					this.loading = false;
					this.$router.push({ name: 'auth', query: { action: 'login', redirect: this.redirect } });
				},
				(error) => {
					ElMessage({
						message: `Couldn't complete your registration. Please try again.`,
						type: 'error',
					})
					this.message =
						(error.response &&
							error.response.data &&
							error.response.data.message) ||
						error.message ||
						error.toString();
					this.successful = false;
					this.loading = false;
				}
			);
		},

	},
};
</script>

<style scoped lang="scss">
.content {
	width: 300px;
	margin: 0 auto;
	position: relative;
	top: 40%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	span.material-icons {
		font-size: 7em;
		color: rgb(166, 166, 166);
		background-color: rgb(217, 215, 215);
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		margin: 0 auto 20px;
	}
	.el-form {
		text-align: center;
		.button {
			padding: 5px 0 5px 0;
		}
		.login-register {
			padding: 15px 0 0 0;
			text-align: center;
			font-size: 0.8em;
			.router-link-active {
				color: invert($color-text, 100%);
				filter: brightness(100%);
			}
		}
	}
}
</style>
