@use "sass:map"; 
///////////////////////////////////////////////////////////////////////////////////////////
// These are our custom theme styles
$--theme-colors: (
	"light": (
		"primary": black,
		"accent": rgb(96, 96, 96),
		"shadow": rgb(229, 228, 228),
		"background": rgb(255,255,255),
		"primary-text": black,
		"link-active": rgb(75, 75, 75),
		"success": #21ba45,
    "warning": #f2711c,
		"danger": #db2828,
		"error":  #db2828,
		"info": #4295dd,
		),
	"dark": (
		"primary": rgb(37, 37, 37),
		"accent": rgb(96, 96, 96),
		"shadow": rgb(185, 185, 185),
		"background": rgb(65, 65, 65),
		"primary-text": rgb(238, 238, 238),
		"link-active": white,
		"success": #21ba45,
		"warning": #f2711c,
		"danger": #db2828,
		"error":  #db2828,
		"info": #4295dd,
	),	
	"night": (
		"primary": black,
		"accent": rgb(96, 96, 96),
		"shadow": rgb(229, 228, 228),
		"background": rgb(39, 39, 39),
		"primary-text": white,
		"link-active": white,
		"success": #21ba45,
    "warning": #f2711c,
		"danger": #db2828,
		"error":  #db2828,
		"info": #4295dd,
	),
	"blue": (
		"primary": rgb(27, 27, 251),
		"accent": rgb(96, 96, 96),
		"shadow": rgb(179, 179, 255),
		"background": rgb(236, 236, 236),
		"primary-text": rgb(27, 27, 251),
		"link-active": rgb(97, 97, 255),
		"success": #21ba45,
    "warning": #f2711c,
		"danger": #db2828,
		"error":  #db2828,
		"info": #4295dd,
	),
	"purple": (
		"primary": rgb(132, 27, 251),
		"accent": rgb(96, 96, 96),
		"shadow": rgb(209, 169, 255),
		"background": rgb(236, 236, 236),
		"primary-text": rgb(132, 27, 251),
		"link-active": rgb(174, 103, 255),
		"success": #21ba45,
    "warning": #f2711c,
		"danger": #db2828,
		"error":  #db2828,
		"info": #4295dd,
	),	
);

$theme: "dark";
$color-primary: map.get(map.get($--theme-colors, $theme), "primary");
$color-accent: map.get(map.get($--theme-colors, $theme), "accent");
$color-shadow: map.get(map.get($--theme-colors, $theme), "shadow");
$color-background: map.get(map.get($--theme-colors, $theme), "background");
$color-text: map.get(map.get($--theme-colors, $theme), "primary-text");
$link-active: map.get(map.get($--theme-colors, $theme), "link-active");
$color-success: map.get(map.get($--theme-colors, $theme), "success");
$color-warning: map.get(map.get($--theme-colors, $theme), "warning");
$color-danger: map.get(map.get($--theme-colors, $theme), "danger");
$color-error: map.get(map.get($--theme-colors, $theme), "error");
$color-info: map.get(map.get($--theme-colors, $theme), "info");

$header-height: 110px;
$footer-height: 75px;

///////////////////////////////////////////////////////////////////////////////////////////


// These are Element Plus theme colors
$--colors: (
  "primary": (
    "base": map.get(map.get($--theme-colors, $theme), "primary"),
  ),
  "success": (
    "base": map.get(map.get($--theme-colors, $theme), "success"),
  ),
  "warning": (
    "base": map.get(map.get($--theme-colors, $theme), "warning"),
  ),
	"danger": (
    "base": map.get(map.get($--theme-colors, $theme), "danger"),
  ),
  "error": (
    "base": map.get(map.get($--theme-colors, $theme), "error"),
  ),
  "info": (
    "base": map.get(map.get($--theme-colors, $theme), "info"),
  ),
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward "element-plus/theme-chalk/src/common/var.scss" with
  (
    // do not use same name, it will override.
    $colors: $--colors,
    $button-padding-horizontal: ("default": 50px)
  );

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a {
	color: $link-active;
	// filter: brightness(75%);
	// &:hover {
	// 	filter: brightness(100%);
	// }
}
.router-link-active {
	color: $link-active;
	filter: brightness(100%);
}
