@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.md-header__button.md-logo img, .md-header__button.md-logo svg {
	height: 2rem;
	width: 2rem;
}

.md-header__title {
	font-family: 'Inter';	
	font-size: 28px;
}

.md-header__option label.md-header__button.md-icon svg {
	height: 2.0rem;
	width: 2.0rem;
}

.md-tabs__item {
	height: 1.5rem;
}

.md-tabs__link {
	margin-top: 0.2rem;
}

