<template>
	<!-- <router-link tag="button" :disabled="allowNav" :to="{ name: `product`, query: { id: orderItem.product.uid }, params: { title: orderItem.product.name } }"> -->
	<router-link v-slot="{ navigate }" custom :to="{ name: `product`, query: { id: orderItem.product.uid }, params: { title: orderItem.product.name } }">
		<div class="order-item" :class="{ active: allowNav }" v-on="{ click: allowNav ? navigate : null }">
			<div>
				<img :src="setImage()" :alt="imageAlt" @error="setFallbackImage" class="image" />
			</div>
			<div class="order-details">
				<div class="name">{{ orderItem.product.name }}</div>
				<div class="vendor">
					<div>{{ `${orderItem.product.vendor}` }}</div>
				</div>
				<div v-if="!orderItem.isService" class="quantity">Quantity: {{ orderItem.quantity }}</div>
				<div v-if="orderItem.isService" class="appointment">{{ `${orderItem.event.startTime}-${orderItem.event.endTime} on ${dateFromUnixEpoch} with ${orderItem.event.fullName}` }}</div>
			</div>
			<div class="totals">
				<div class="price">CDN$ {{ ((orderItem.unitPrice * orderItem.quantity) / 100).toFixed(2) }}</div>
				<div v-if="showWriteReview && !orderItem.hasReview" class="review">
					<a href="#" @click.prevent="$emit('createReview', orderItem)">Write a review</a>
				</div>
			</div>
		</div>
	</router-link>
</template>

<script>
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
dayjs.extend(utc);
export default {
	name: "Order-Item",
	props: {
		orderItem: Object,
		allowNav: { default: true, type: Boolean },
		showWriteReview: { default: true, type: Boolean }
	},
	emits: [
		'createReview'
	],
	computed: {
		dateFromUnixEpoch() {
			return dayjs.unix(this.orderItem.event.meta[0].repeatStart).utc().format('MMMM D, YYYY')
		},
		imageSrc() {
			return (this.orderItem.product.images) ? this.orderItem.product.images[0].src : this.orderItem.product.imageSrc;
		},
		imageAlt() {
			return (this.orderItem.product.images) ? this.orderItem.product.images[0].alt : this.orderItem.product.imageAlt;
		},
	},
	methods: {
		setFallbackImage: function (e) {
			e.target.src = `${import.meta.env.VITE_API_BASE_URL}/images/image-missing.jpg`;
		},
		setImage: function () {
			if (this.imageSrc.includes('http')) {
				return this.imageSrc;
			} else {
				return `${import.meta.env.VITE_API_BASE_URL}/${this.imageSrc}`;
			}
		},
	},
}
</script>

<style scoped lang="scss">
.order-item {
	display: flex;
	flex-direction: row;
	padding: 10px 20px 10px 20px;
	border-bottom: 1px solid $color-shadow;
	background-color: $color-background;
	user-select: none;
	&.active:hover {
		cursor: pointer;
		background-color: invert($color-background, 5%);
	}
	.image {
		width: 60px;
		margin: 0 20px 0 0;
		border-radius: 5px;
	}
	.order-details {
		flex: 1;
		display: flex;
		flex-direction: column;
		.name {
			font-size: 1.1em;
		}
		.vendor,
		.quantity {
			font-size: 0.8em;
		}
		.appointment {
			font-size: 0.8em;
			color: $color-success;
		}
	}
	.totals {
		display: flex;
		flex-direction: column;
		.price {
			flex: 1;
			text-align: right;
			font-size: 1.1em;
		}
		.review {
			align-self: flex-end;
			font-size: 0.8em;
			padding: 0 0 10px 0;
			a {
				color: $link-active;
				filter: brightness(75%);
			}
			:hover {
				filter: brightness(100%);
			}
		}
	}
}
</style>