<template>
	<!-- Order box -->
	<div class="order">
		<div class="header">
			<div class="line1">
				<div class="order-date">ORDER PLACED</div>
				<div class="order-total">TOTAL</div>
				<div class="order-number">ORDER # {{ order.uid.substring(0, 8) }}</div>
			</div>
			<div class="line2">
				<div class="order-date">{{ orderDateLocal }}</div>
				<div class="order-total">{{ currencyString }} {{ (order.grandTotal / 100).toFixed(2) }}</div>
			</div>
		</div>

		<div class="delivery-status">
			<div>{{ `${order.orderStatus.title}: ${order.orderStatus.description}` }}</div>
		</div>

		<!-- Order Item listed -->
		<div :class="index === 0 ? 'first-orders-item' : 'orders-item'" v-for="(orderItem, index) in order.orderItems" v-bind:key="index">
			<order-item v-bind:orderItem="orderItem" @createReview="createReview" />
		</div>

		<!-- More Detail section below the order -->
		<el-collapse accordion>
			<el-collapse-item title="Order Details">
				<div class="order-detail">
					<div class="delivery-address">
						<div class="title">DELIVERY ADDRESS</div>
						<div>
							<div>{{ order.deliveryAddress.description }}</div>
							<div>{{ order.deliveryAddress.line1 }}</div>
							<div>{{ order.deliveryAddress.line2 }}</div>
							<div>{{ order.deliveryAddress.city }}, {{ order.deliveryAddress.regionName }} {{ order.deliveryAddress.postalZip }}</div>
							<div>{{ order.deliveryAddress.country.name }}</div>
						</div>
					</div>
					<div class="payment-method">
						<!-- Replace the card brand with an image -->
						<div class="title">PAYMENT METHOD</div>
						<div>{{ order.paymentCardBrand }} **** {{ order.paymentCardLast4Digits }}</div>
					</div>
					<div class="order-summary">
						<div class="title">ORDER SUMMARY</div>
						<div class="totals">
							<div>Subtotal:</div>
							<div>{{ currencyString }} {{ (order.subTotal / 100).toFixed(2) }}</div>
							<div>Shipping:</div>
							<div>{{ (order.shipTotal > 0) ? `${currencyString}${(order.shipTotal / 100).toFixed(2)}` : 'FREE' }}</div>
							<div>Tax Total:</div>
							<div>{{ currencyString }} {{ (order.taxTotal / 100).toFixed(2) }}</div>
							<div v-if="order.discountTotal > 0">Discount:</div>
							<div v-if="order.discountTotal > 0">{{ currencyString }} {{ (order.discountTotal / 100).toFixed(2) }}</div>
							<div>Grand Total:</div>
							<div>{{ currencyString }} {{ (order.grandTotal / 100).toFixed(2) }}</div>
						</div>
					</div>
				</div>
			</el-collapse-item>
		</el-collapse>
	</div>
</template>

<script>
import OrderItem from '@/components/account/order/OrderItem.vue'

export default {
	name: "Orders",
	props: {
		order: Object
	},
	components: {
		'order-item': OrderItem,
	},
	computed: {
		orderDateLocal() {
			return new Date(this.order.date).toLocaleDateString('en-CA', { month: 'long', day: 'numeric', year: 'numeric' });
		},
		currencyString() {
			return `${this.order.deliveryAddress.country.currencyCode}${this.order.deliveryAddress.country.currencySymbol}`;
		}
	},
	methods: {
		createReview(orderItem) {
			// We're not dealing with this here: Pass the event up to the parent
			this.$emit('createReview', orderItem);
		},
	}
}
</script>

<style scoped lang="scss">
.order {
	display: flex;
	flex-direction: column;
	box-shadow: $color-shadow 0px 0px 3px 2px;
	border-radius: 10px;
	background-color: invert($color-background, 20%);
	color: $color-text;
	.header {
		padding: 20px 20px 10px 20px;
		display: flex;
		flex-direction: column;
		.line1 {
			display: flex;
			flex-direction: row;
			font-size: 0.8em;
			.order-date {
				width: 15%;
			}
			.order-number {
				flex: 1;
				text-align: right;
			}
		}
		.line2 {
			display: flex;
			flex-direction: row;
			font-size: 1.1em;
			font-weight: 500;
			.order-date {
				width: 15%;
			}
		}
	}
	.delivery-status {
		color: $color-success;
		font-size: 1.2em;
		font-weight: bold;
		padding: 10px 0 15px 20px;
		background-color: $color-background;
	}

	.order-detail {
		display: flex;
		flex-direction: row;
		font-size: 1.2em;
		font-weight: 500;
		.title {
			font-size: 0.8em;
			margin-bottom: 6px;
		}
		.delivery-address {
			display: flex;
			flex-direction: column;
			width: 25%;
			& div {
				line-height: 1.2em;
			}
		}
		.payment-method {
			flex: 1;
			display: flex;
			flex-direction: column;
			& div {
				line-height: 1.2em;
			}
		}
		.order-summary {
			display: flex;
			flex-direction: column;
			& div {
				line-height: 1.4em;
			}
			.totals {
				display: grid;
				grid-template-columns: 1fr 2fr;
				& div:nth-child(odd) {
					text-align: left;
				}
				& div:nth-child(even) {
					text-align: right;
				}
				& div:nth-last-child(1),
				div:nth-last-child(2) {
					margin-top: 10px;
					font-weight: 900;
				}
			}
		}
	}
	.el-collapse {
		box-shadow: $color-shadow 0px 0px 2px 1px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		--el-collapse-header-font-size: 1.3em;
		--el-collapse-content-text-color: $color-text;
		--el-collapse-header-text-color: $color-text;
		--el-collapse-content-bg-color: transparent;
		--el-collapse-header-bg-color: transparent;
		color: $color-text;
		padding: 20px;

		:deep(.el-collapse-item__wrap),
		:deep(.el-collapse-item__header) {
			border-bottom: none;
		}
	}
}
</style>