<template>
	<router-link :to="{ name: `product`, query: { id: product.uid }, params: { title: product.name } }">
		<div class="product">
			<div class="image">
				<img :src="setImage()" :alt="product.imageAlt" @error="setFallbackImage" />
			</div>
			<div class="details">
				<div class="product-name">{{ product.name }}</div>
				<div class="vendor">by {{ product.vendor }}</div>
				<div class="rating">
					<span class="material-icons" v-for="index in 5" :class="{ active: (index <= product.averageRating) }">star</span>
				</div>
				<div class="price">${{ (product.unitPrice / 100).toFixed(2) }}</div>
			</div>
		</div>
	</router-link>
</template>

<script>

export default {
	name: "SearchResult",
	props: [
		'product'
	],
	methods: {
		setFallbackImage: function (e) {
			e.target.src = `${import.meta.env.VITE_API_BASE_URL}/images/image-missing.jpg`;
		},
		setImage: function () {
			if (this.product.imageSrc.includes('http')) {
				return this.product.imageSrc;
			} else {
				return `${import.meta.env.VITE_API_BASE_URL}/${this.product.imageSrc}`;
			}
		},
	}
}
</script>

<style scoped lang="scss">
.product {
	height: 100%;
	display: flex;
	flex-direction: column;
	color: $color-text;
	background-color: $color-background;
	box-shadow: $color-shadow 0px 0px 3px 2px;
	border-radius: 10px;
	&:hover {
		box-shadow: $color-shadow 0px 0px 6px 3px;
	}
	div.image {
		flex: 1;
		max-height: 55%;
		margin: 4px;
		& img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
	div.details {
		display: flex;
		flex-direction: column;
		margin: 8px;
		.product-name {
			font-size: 1.4em;
			font-weight: bold;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.vendor {
			font-size: 1em;
			color: grey;
		}
		.rating {
			span {
				font-size: 2em;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: rgb(186, 186, 186);
				color: white;
			}
			.active {
				color: rgb(246, 206, 25);
			}
		}
		.price {
			font-size: 1.5em;
			font-weight: bold;
		}
	}
}
</style>