<template>
	<div id="account-user-reviews" class="content" v-if="!loading">
		<div class="review" v-for="(review, index) in reviews" :key="review.uid">
			<review-item :review="review" @editReview="editReview" @deleteReview="deleteReview" />
		</div>
		<review-edit :review="selectedReview" title="Update review" :show="showDialog" @save="saveReview" />
	</div>
</template>
<script>
import { ElMessageBox } from 'element-plus'
import ReviewItem from '@/components/review/ReviewItem.vue';
import ReviewEdit from '@/components/review/ReviewEdit.vue';
import ReviewService from '@/services/review.service';

export default {
	name: "account-user-reviews",
	components: {
		'review-item': ReviewItem,
		'review-edit': ReviewEdit,
	},
	props: {
		account: {
			default: null,
			type: Object
		},
	},
	data() {
		return {
			loading: true,
			showDialog: false,
			selectedReview: null,
			reviews: null,
		}
	},
	beforeMount() {
		const [r, g, b] = window.getComputedStyle(document.body, null).getPropertyValue('background-color').match(/\d+/g).map(Number);
		this.loadingSpinner = ElLoading.service({ fullscreen: true, background: `rgba(${r},${g},${b},0.75)` });
	},
	mounted() {
		ReviewService.getReviewsByAccount(this.$store.getters['account/data'].uid).then(
			(response) => {
				this.reviews = response.data;
				this.loading = false;
				this.loadingSpinner.close();
			}
		);
	},
	methods: {
		editReview(review) {
			this.selectedReview = Object.assign({}, review);
			this.showDialog = true
		},
		saveReview() {
			ReviewService.updateReview(this.selectedReview).then(
				(response) => {
					this.reviews = this.reviews.map(r => r.uid === this.selectedReview.uid ? this.selectedReview : r);
					ElMessage({
						message: `Review saved.`,
						type: 'success',
					});
				}
			);
			this.showDialog = false;
		},
		deleteReview(review) {
			ElMessageBox.confirm(`Delete review?`, { confirmButtonText: 'OK', cancelButtonText: 'Cancel', showClose: false, customStyle: 'width: 200px' })
				.then(() => {
					ReviewService.deleteReview(review.uid).then(
						(response) => {
							ElMessage({
								message: `Review Deleted.`,
								type: 'success',
							});
						}
					)
					this.reviews = this.reviews.filter(r => r.uid !== review.uid);
				})
				.catch(() => { })
		}
	}
};
</script>

<style scoped lang="scss">
#account-user-reviews.content {
	display: flex;
	flex-direction: column;
	box-shadow: $color-shadow 0px 0px 3px 2px;
	border-radius: 10px;
	padding: 20px 10px 20px 10px;
}
</style>