<template>
	<div id="account-user-addresses" class="content" v-if="!loading">
		<address-list :data="addresses" :allowNew="true" :allowSelect="false" :allowEdit="true" />
	</div>
</template>

<script>
import { ElLoading } from 'element-plus';
import AccountService from "@/services/account.service";
import AddressList from "@/components/account/address/AddressList.vue";

export default {
	name: "account-user-addresses",
	components: {
		'address-list': AddressList,
	},
	props: {
		account: {
			default: null,
			type: Object
		},
	},
	data() {
		return {
			loading: true,
			addresses: [],
		}
	},
	beforeMount() {
		const [r, g, b] = window.getComputedStyle(document.body, null).getPropertyValue('background-color').match(/\d+/g).map(Number);
		this.loadingSpinner = ElLoading.service({ fullscreen: true, background: `rgba(${r},${g},${b},0.75)` });
	},
	mounted() {
		AccountService.getAccountAddresses(this.$store.state.auth.user.uid).then(
			(response) => {
				this.addresses = response.data;
				this.loading = false;
				this.loadingSpinner.close();
			}
		);
	},
};
</script>

<style scoped lang="scss">

</style>
