<template>
	<div id="account-user-schedule" class="content">
		<div class="event" :class="{ inactive: isPast(order.orderItems[0].event.meta[0].repeatStart) }" v-for="order in orders">
			<div class="product">
				<div class="image">
					<img :src="setImage(order)" @error="setFallbackImage" class="image" />
				</div>
				<div>{{ order.orderItems[0].product.name }}</div>
			</div>
			<div class="time"> {{ dateFromUnixEpoch(order.orderItems[0].event.meta[0].repeatStart) }} from {{ order.orderItems[0].event.startTime }} - {{ order.orderItems[0].event.endTime }} </div>
			<div class="employee"> with {{ order.orderItems[0].event.fullName }} </div>
			<div class="address">
				<order-address :address="order.deliveryAddress" />
			</div>
		</div>
	</div>
</template>
<script>
import OrderService from '@/services/order.service';
import Address from "@/components/account/address/Address.vue";
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
dayjs.extend(utc);

export default {
	name: "account-user-schedule",
	props: {
		account: {
			default: null,
			type: Object
		},
	},
	components: {
		'order-address': Address,
	},
	data() {
		return {
			isLoading: true,
			orders: null
		}
	},
	mounted() {
		this.getOrders();

	},
	methods: {
		getOrders() {
			this.isLoading = true;
			OrderService.getServiceOrdersByAccount(this.account.uid).then(
				(response) => {
					this.orders = response.data;
					this.isLoading = false;
				},
				(error) => {
					ElMessage({
						message: `Error loading appointments.`,
						type: 'error',
					});
				}
			);
		},
		dateFromUnixEpoch(unixTime) {
			return dayjs.unix(unixTime).utc().format('MMMM D, YYYY')
		},
		isPast(unixTime) {
			return (unixTime < (+ new Date()) / 1000);
		},
		setFallbackImage: function (e) {
			e.target.src = `${import.meta.env.VITE_API_BASE_URL}/images/image-missing.jpg`;
		},
		setImage: function (order) {
			if (order.orderItems[0].product.imageSrc.includes('http')) {
				return this.imageSrc;
			} else {
				return `${import.meta.env.VITE_API_BASE_URL}/${order.orderItems[0].product.imageSrc}`;
			}
		},
	}
};
</script>

<style scoped lang="scss">
#account-user-schedule.content {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.event {
		box-shadow: $color-shadow 0px 0px 3px 2px;
		padding: 20px;
		border-radius: 10px;
		background-color: invert($color-background, 20%);
		color: $color-text;
		user-select: none;

		.product {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			font-size: 1.3em;

			.image {
				width: 60px;
				margin: 0 10px 0 0;
				border-radius: 5px;
			}
		}

		.time {
			color: $color-success;
			font-size: 1.3em;
			margin: 0 0 3px 0;
		}

		.address {
			margin: 10px 0 0 0;
		}

		.employee {
			color: $color-success;
			font-size: 1.0em;
		}
	}

	.inactive {
		opacity: 0.5;
	}
}
</style>