<template>
	<div id="account-user-orders" class="content">
		<div v-for="(order, index) in orders" v-bind:key="index">
			<order :order="order" @createReview="createReview" />
		</div>
	</div>
	<review-edit :review="selectedReview" title="Write a review" :show="showDialog" @save="saveReview" />
</template>
<script>
import Order from '@/components/account/order/Order.vue';
import OrderService from "@/services/order.service";
import ReviewEdit from '@/components/review/ReviewEdit.vue';
import ReviewService from '@/services/review.service';
export default {
	name: "account-user-orders",
	props: {
		account: {
			default: null,
			type: Object
		},
	},
	components: {
		'order': Order,
		'review-edit': ReviewEdit,
	},
	data() {
		return {
			loading: true,
			orders: null,
			showDialog: false,
			selectedReview: null,
			selectedOrderItem: null,
		}
	},
	beforeMount() {
		const [r, g, b] = window.getComputedStyle(document.body, null).getPropertyValue('background-color').match(/\d+/g).map(Number);
		this.loadingSpinner = ElLoading.service({ fullscreen: true, background: `rgba(${r},${g},${b},0.75)` });
	},
	mounted() {
		OrderService.getOrdersByAccount(this.account.uid).then(
			(response) => {
				this.orders = response.data;
				this.loading = false;
				this.loadingSpinner.close();
			}
		);
	},
	methods: {
		createReview(orderItem) {
			this.selectedOrderItem = orderItem;
			const review = {
				rating: 5,
				orderItemUid: orderItem.uid,
				account: {
					uid: this.$store.state.auth.user.uid
				},
				product: {
					uid: orderItem.product.uid,
					vendor: orderItem.product.vendor,
					name: orderItem.product.name,
					imageSrc: orderItem.product.imageSrc,
					imageAlt: orderItem.product.imageAlt,
					imageHeight: orderItem.product.imageHeight,
					imageWidth: orderItem.product.imageWidth
				},
			};
			this.selectedReview = review;
			this.showDialog = true
		},
		saveReview() {
			ReviewService.createReview(this.selectedReview).then(
				this.selectedOrderItem.hasReview = true,
				ElMessage({
					message: `Review saved.`,
					type: 'success',
				})
			);
			this.showDialog = false;
		},
	}
};
</script>

<style scoped lang="scss">
#account-user-orders.content {
	& div {
		margin-bottom: 20px;
	}
}
</style>