<template>
	<router-link v-if="product" :to="{ name: `product`, query: { id: product.uid }, params: { title: product.name } }">
		<div class="cart-item">
			<div>
				<img :src="setImage()" :alt="product.imageAlt" @error="setFallbackImage" class="image" />
			</div>
			<div class="item-details">
				<div class="name">{{ product.name }}</div>
				<div class="vendor">
					<div>{{ `${product.vendor}` }}</div>
				</div>
			</div>
			<div class="price-qty">
				<div class="price">CDN$ {{ ((product.unitPrice * cartItem.quantity) / 100).toFixed(2) }}</div>
				<quantity-button class="quantity" :initial="cartItem.quantity" :max="product.stockQuantity" :min="1" @increment="incrementQuantity" @decrement="decrementQuantity" />
			</div>
		</div>
	</router-link>
</template>

<script >
import { ElMessageBox } from 'element-plus'
export default {
	name: "CartItem",
	props: {
		cartItem: Object,
		order: Object,
		product: Object,
	},
	emits: [
		'deleted'
	],
	data() {
		return {
			loading: true,
		};
	},
	computed: {
		orderItem() {
			return this.order.orderItems.find(item => item.product.uid === this.cartItem.uid)
		},
	},
	methods: {
		setFallbackImage: function (e) {
			e.target.src = `${import.meta.env.VITE_API_BASE_URL}/images/image-missing.jpg`;
		},
		setImage: function () {
			if (this.product.imageSrc.includes('http')) {
				return this.product.imageSrc;
			} else {
				return `${import.meta.env.VITE_API_BASE_URL}/${this.product.imageSrc}`;
			}
		},
		incrementQuantity(value) {
			this.orderItem.quantity = this.cartItem.quantity = value;
		},
		decrementQuantity(value) {
			if (this.cartItem.quantity === 1) {
				ElMessageBox.confirm('Remove item from cart?', { confirmButtonText: 'OK', cancelButtonText: 'Cancel', showClose: false, customStyle: 'width: 250px' })
					.then(() => {
						this.$emit('deleted', this.cartItem.uid);
						this.$store.dispatch('cart/removeItem', this.cartItem.uid);
					})
					.catch(() => { })
			} else {
				this.orderItem.quantity = this.cartItem.quantity = value;
			}
		}
	},
}
</script>

<style scoped lang="scss">
.cart-item {
	display: flex;
	flex-direction: row;
	padding: 10px 20px 10px 20px;
	border-bottom: 1px solid $color-shadow;
	background-color: $color-background;

	&:hover {
		background-color: invert($color-background, 5%);
	}

	.image {
		width: 60px;
		margin: 0 20px 0 0;
		border-radius: 5px;
	}

	.item-details {
		flex: 1;
		display: flex;
		flex-direction: column;

		.name {
			font-size: 1.1em;
		}

		.vendor {
			font-size: 0.8em;
		}

		.appointment {
			font-size: 0.8em;
			color: $color-success;
		}
	}

	.price-qty {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.price {
			text-align: right;
			font-size: 1.1em;
		}
	}
}
</style>