<template>
	<div id="account-user-addresses" class="content">
		<h2>Account Addresses</h2>
	</div>
</template>
<script>


export default {
	name: "account-user-addresses",
	props: {
		account: {
			default: null,
			type: Object
		},
	},
};
</script>

<style scoped lang="scss">
#account-user-addresses.content {
	display: flex;
}
</style>