<template>
	<div id="account-admin-schedule" class="content">
		<h2>Account Schedule</h2>
	</div>
</template>
<script>


export default {
	name: "account-admin-schedule",
	props: {
		account: {
			default: null,
			type: Object
		},
	},
};
</script>

<style scoped lang="scss">
#account-admin-schedule.content {
	display: flex;
}
</style>