<template>
	<div id="account-admin-orders" class="content">
		<h2>Account Orders</h2>
	</div>
</template>
<script>


export default {
	name: "account-admin-orders",
	props: {
		account: {
			default: null,
			type: Object
		},
	},
};
</script>

<style scoped lang="scss">
#account-admin-orders.content {
	display: flex;
}
</style>