<template>
	<vee-form v-if="review" v-slot="{ handleSubmit }" :validation-schema="schema" as="div">
		<el-form @submit="handleSubmit($event, onSubmit)">
			<el-dialog v-model="show" :title="dialogTitle" draggable destroy-on-close>
				<div class="product">
					<div>
						<img :src="setImage()" :alt="product.imageAlt" @error="setFallbackImage" class="image" />
					</div>
					<div class="item-details">
						<div class="name">{{ product.name }}</div>
						<div class="vendor">
							<div>{{ `${product.vendor}` }}</div>
						</div>
						<div class="rating">
							<vee-field v-model="review.rating" name="rating" v-slot="{ value, field, errorMessage }">
								<el-form-item :error="errorMessage">
									<el-rate v-bind="field" :model-value="value" />
								</el-form-item>
							</vee-field>
						</div>
					</div>
				</div>
				<div>
					<vee-field v-model="review.title" name="title" v-slot="{ value, field, errorMessage }">
						<el-form-item :error="errorMessage">
							<el-input v-bind="field" :model-value="value" placeholder="Review title" maxlength="100" @keydown.enter.prevent></el-input>
						</el-form-item>
					</vee-field>
					<vee-field v-model="review.description" name="description" v-slot="{ value, field, errorMessage }" type="textarea">
						<el-form-item :error="errorMessage">
							<el-input v-bind="field" :model-value="value" placeholder="Your review" type="textarea" maxlength="1000" show-word-limit :autosize="{ minRows: 6, maxRows: 10 }"></el-input>
						</el-form-item>
					</vee-field>
				</div>
				<template #footer>
					<div class="nav">
						<el-button type="primary" native-type="submit">Save</el-button>
					</div>
				</template>
			</el-dialog>
		</el-form>
	</vee-form>
</template>
<script>
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
export default {
	name: "ReviewEdit",
	components: {
		'vee-form': Form,
		'vee-field': Field,
		'vee-error': ErrorMessage,
	},
	props: {
		review: {
			default: null,
			type: Object,
		},
		show: false,
		dialogTitle: {
			default: 'Write a review',
			type: String,
		}
	},
	emits: [
		'save'
	],
	data() {
		const schema = yup.object().shape({
			rating: yup.number().oneOf([1, 2, 3, 4, 5], 'A rating between 1 and 5 is required'),
			title: yup.string().required("Title is required"),
			description: yup.string().required("Description is required"),
		});
		return {
			schema,
		}
	},
	computed: {
		product() {
			return this.review.product;
		},
	},
	beforeMount() {

	},
	methods: {
		setFallbackImage: function (e) {
			e.target.src = `${import.meta.env.VITE_API_BASE_URL}/images/image-missing.jpg`;
		},
		setImage: function () {
			if (this.product.imageSrc.includes('http')) {
				return this.product.imageSrc;
			} else {
				return `${import.meta.env.VITE_API_BASE_URL}/${this.product.imageSrc}`;
			}
		},
		onSubmit(form) {
			this.$emit('save', this.review);
		}
	}
};
</script>
<style scoped lang="scss">
.product {
	display: flex;
	margin: 0 0 20px 0;
	.image {
		width: 75px;
		margin: 0 20px 0 0;
		border-radius: 5px;
	}
	.item-details {
		flex: 1;
		width: 300px;
		display: flex;
		flex-direction: column;
		.name {
			font-size: 1.2em;
		}
		.vendor {
			font-size: 0.9em;
		}
		.appointment {
			font-size: 0.8em;
			color: $color-success;
		}
	}
}
</style>