<template>
	<div class="review">
		<router-link v-if="product" :to="{ name: `product`, query: { id: product.uid }, params: { title: product.name } }">
			<div class="product">
				<div>
					<img :src="setImage()" :alt="product.imageAlt" @error="setFallbackImage" class="image" />
				</div>
				<div class="item-details">
					<div class="name">{{ product.name }}</div>
					<div class="vendor">
						<div>{{ `${product.vendor}` }}</div>
					</div>
					<div class="rating">
						<span class="material-icons" v-for="index in 5" :class="{ active: (index <= review.rating) }">star</span>
					</div>
				</div>
			</div>
		</router-link>
		<div class="review-details" :class="{ expanded: isExpanded }">
			<div class="review-date">{{ `You reviewed this product on ${reviewDateLocal}.` }}</div>
			<div class="review-title">{{ review.title }}</div>
			<div class="review-description">{{ review.description }}</div>
		</div>
		<div class="expand-button">
			<button @click="isExpanded = !isExpanded">
				<span v-if="!isExpanded" class="material-icons">expand_more</span>
				<span v-if="isExpanded" class="material-icons">expand_less</span>
			</button>
		</div>
		<div class="nav">
			<button @click="$emit('editReview', review)">
				<el-tooltip class="box-item" effect="light" content="Edit" placement="top" :offset="3">
					<span class="material-icons">edit</span>
				</el-tooltip>
			</button>
			<button @click="$emit('deleteReview', review)">
				<el-tooltip class="box-item" effect="light" content="Delete" placement="bottom" :offset="3">
					<span class="material-icons">delete</span>
				</el-tooltip>
			</button>
		</div>
	</div>
</template>

<script >
export default {
	name: "ReviewItem",
	props: {
		review: Object,
	},
	data() {
		return {
			loading: true,
			isExpanded: false,
		};
	},
	computed: {
		product() {
			return this.review.product;
		},
		reviewDateLocal() {
			return new Date(this.review.date).toLocaleDateString('en-CA', { month: 'long', day: 'numeric', year: 'numeric' });
		},
	},
	methods: {
		setFallbackImage: function (e) {
			e.target.src = `${import.meta.env.VITE_API_BASE_URL}/images/image-missing.jpg`;
		},
		setImage: function () {
			if (this.product.imageSrc.includes('http')) {
				return this.product.imageSrc;
			} else {
				return `${import.meta.env.VITE_API_BASE_URL}/${this.product.imageSrc}`;
			}
		},
	},
}
</script>

<style scoped lang="scss">
.review {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid $color-shadow;
	border-top: 1px solid $color-shadow;
	margin-bottom: -1px;
	background-color: $color-background;
	.product {
		display: flex;
		padding: 10px 5px 10px 10px;
		&:hover {
			background-color: invert($color-background, 5%);
		}
		.image {
			width: 60px;
			margin: 0 20px 0 0;
			border-radius: 5px;
		}
		.item-details {
			flex: 1;
			width: 300px;
			display: flex;
			flex-direction: column;
			.name {
				font-size: 1.1em;
			}
			.vendor {
				font-size: 0.8em;
			}
			.appointment {
				font-size: 0.8em;
				color: $color-success;
			}
			.rating {
				span {
					font-size: 1em;
					-webkit-text-stroke-width: 1px;
					-webkit-text-stroke-color: rgb(186, 186, 186);
					color: white;
				}
				.active {
					color: rgb(246, 206, 25);
				}
			}
		}
	}
	.review-details {
		flex: 2;
		height: 65px;
		margin: 10px 5px 10px 10px;
		overflow: hidden;
		.review-date {
			font-size: 0.8em;
			color: $color-success;
		}
		.review-title {
			font-size: 1.2em;
			margin: 3px 0 3px 0;
			white-space: pre-wrap;
			overflow-wrap: anywhere;
		}
		.review-description {
			font-size: 0.9em;
			white-space: pre-wrap;
			overflow-wrap: anywhere;
		}
	}
	.expanded {
		overflow: visible;
		height: 100%;
	}
	.expand-button {
		align-self: flex-start;
		margin: 30px 20px 0 5px;
		> button {
			all: unset;
			background: transparent;
			span {
				&.material-icons {
					font-size: 1.8em;
					color: $color-text;
					cursor: pointer;
				}
			}
		}
	}
	.nav {
		display: flex;
		flex-direction: column;
		align-self: flex-start;
		margin: 10px 5px 0 0;
		> button {
			all: unset;
			background: transparent;
			span {
				padding: 0 5px 0 10px;
				&.material-icons {
					font-size: 1.8em;
					color: $color-text;
					cursor: pointer;
				}
			}
		}
	}
}
</style>