<template>
	<div id="OrderTotals" class="content">
		<div class="item">
			<div>Items:</div>
			<div>{{ currencySymbol }}{{ (order.subTotal / 100).toFixed(2) }}</div>
		</div>
		<div class="item">
			<div>Delivery:</div>
			<div>{{ currencySymbol }}{{ (order.shipTotal / 100).toFixed(2) }}</div>
		</div>
		<div class="item total-line">
			<div>Total before tax:</div>
			<div>{{ currencySymbol }}{{ (order.beforeTaxTotal / 100).toFixed(2) }}</div>
		</div>
		<div class="item">
			<div>Tax:</div>
			<div>{{ currencySymbol }}{{ (order.taxTotal / 100).toFixed(2) }}</div>
		</div>
		<div class="item total-line">
			<div>Order Total:</div>
			<div>{{ currencySymbol }}{{ (order.grandTotal / 100).toFixed(2) }}</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "OrderTotals",
	props: {
		order: Object,
	},
	computed: {
		currencySymbol() {
			return this.order.billingAddress.country.currencySymbol;
		},
	},
}
</script>

<style scoped lang="scss">
#OrderTotals.content {
	display: flex;
	flex-direction: column;
	width: 300px;
	color: $color-text;
	margin: 0 0 20px 0;
	.item {
		display: flex;
		flex-direction: row;
		div:first-child {
			flex: 1;
			text-align: left;
		}
		div:last-child {
			width: 30%;
			text-align: right;
		}
	}
	.total-line {
		border-top: 1px solid $color-shadow;
		margin: 4px 0 2px 0;
	}
	.item:last-child {
		font-size: 1.2em;
		font-weight: bold;
	}
}
</style>