<template>
	<div class="summary">
		<div class="section order-items">
			<div class="order-item" v-for="item in order.items">
				<span></span>
			</div>
		</div>
		<div class="section order-totals">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div v-if="order.uid" class="section payment-details">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</template>

<script>
export default {
	name: "OrderSummary",
	props: {
		order: Object,
	},
	computed: {
		isService() {
			return (this.order.orderItems.length === 1 && this.order.orderItems[0].isService)
		},
	},
}
</script>

<style scoped lang="scss">
.summary {
	display: flex;
	flex-direction: row;
	color: $color-text;
	.section {
		display: flex;
		flex-direction: column;
		.order-items {
			flex: 1;
		}
		.order-totals {
		}
		.payment-details {
		}
	}
}
</style>