<template>
	<div id="SquarePayment" class="content" >
		<div class="card-types">
			<img src="@/assets/payment-visa.png" />
			<img src="@/assets/payment-mastercard.png" />
			<img src="@/assets/payment-amex.png" />
			<img src="@/assets/payment-discover.png" />
		</div>
		<div>
			<form id="payment-form">
				<div id="card-container"></div>
				<button class="el-button el-button--primary el-button--default" type="button" ref="card_button" id="card_button">Pay</button>
			</form>
			<div id="payment-status-container"></div>
		</div>
	</div>
</template>

<script>
import { ElLoading } from 'element-plus'
export default {
	name: "SquarePayment",
	data() {
		return {
			isLoading: true
		};
	},
	mounted() {
		this.squareScript = document.createElement("script");
		this.squareScript.onload = async () => {
			const el = document.querySelector('[id^="single-card-wrapper-"]');
      if (el) el.parentNode.removeChild(el);
			if (window.Square) {
				const payments = window.Square.payments(import.meta.env.VITE_SQUARE_APP_ID, import.meta.env.VITE_SQUARE_LOCATION_ID);
				let card = await payments.card();       // this card is a listener which cannot be stored as a data element
				await card.attach("#card-container");
				var self = this
				this.$refs.card_button.addEventListener("click", async function (event) {
					document.getElementById('card_button').disabled = true;
					const tokenResult = await card.tokenize();
					self.onPay(tokenResult);
				})
				this.isLoading = false;
				this.$emit('loaded');
			} else {
				throw new Error('Square.js failed to load properly');
			}
		}
		this.squareScript.setAttribute(
			"src",
			"https://sandbox.web.squarecdn.com/v1/square.js"
		);
		document.body.appendChild(this.squareScript);
	},
	methods: {
		async onPay(tokenResult) {
			// Propagate event to parent
			this.$emit('onPay', tokenResult, this.squareScript);
		}
	}
};
</script>

<style scoped lang="scss">
#SquarePayment.content {
	text-align: center;
	button {
		--el-button-bg-color: #409eff;
		--el-button-border-color: #409eff;
		--el-button-hover-bg-color: rgb(102, 177, 255);
		--el-button-hover-border-color: rgb(102, 177, 255);
		--el-button-active-bg-color: rgb(58, 142, 230);
		--el-button-active-border-color: rgb(58, 142, 230);
	}
}
</style>