<template>
	<div class="appointment">
		<div v-if="showProduct" class="image">
			<img :src="setImage()" :alt="product.imageAlt" @error="setFallbackImage" class="image" />
		</div>
		<div class="details">
			<div v-if="showProduct" class="product-name">{{ product.name }}</div>
			<div class="date-time">{{ `${event.startTime}-${event.endTime} on ${dateFromUnixEpoch} with ${event.fullName}` }}</div>
			<address-item :address="storeAddress" />
		</div>
	</div>
</template>

<script>
import Address from "@/components/account/address/Address.vue";
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
dayjs.extend(utc);

export default {
	name: "Appointment",
	components: {
		'address-item': Address,
	},
	props: {
		order: Object,
		showProduct: { default: true, type: Boolean },
	},
	computed: {
		product() {
			return this.order.orderItems[0].product;
		},
		event() {
			return this.order.orderItems[0].event;
		},
		storeAddress() {
			return this.order.deliveryAddress;
		},
		dateFromUnixEpoch() {
			return dayjs.unix(this.event.meta[0].repeatStart).utc().format('MMMM D, YYYY')
		},
	},
	methods: {
		setFallbackImage: function (e) {
			e.target.src = `${import.meta.env.VITE_API_BASE_URL}/images/image-missing.jpg`;
		},
		setImage: function () {
			if (this.product.images[0].src.includes('http')) {
				return this.product.images[0].src;
			} else {
				return `${import.meta.env.VITE_API_BASE_URL}/${this.product.images[0].src}`;
			}
		},
	},
}
</script>

<style scoped lang="scss">
.appointment {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: $color-text;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
	user-select: none;
	.image {
		width: 125px;
		margin: 0 10px 0 0;
	}
	.details {
		display: flex;
		flex-direction: column;
		.product-name {
			font-size: 1.1em;
		}
		.store {
			font-size: 0.9em;
		}
		.date-time {
			font-size: 1em;
			color: $color-success;
		}
	}
}
</style>