<template>
	<el-container>
		<div class="content">
			<div class="message">Book your appointment</div>
			<div class="calendar">
				<el-date-picker v-model="appointment.date" @change="onDateChange" type="date" placeholder="Pick a day" :disabled-date="disabledDate" format="ddd, MMM DD, YYYY"></el-date-picker>
			</div>

			<div class="store">
				<el-select :disabled="!appointment.date" v-model="appointment.store" @change="onStoreChange" value-key="address.uid" class="m-2" placeholder="Pick a store" clearable>
					<el-option v-for="store in stores" :key="store.address.uid" :label="store.name" :value="store"></el-option>
				</el-select>
			</div>

			<div class="barber">
				<el-select :disabled="!appointment.store" @change="onBarberChange" v-model="appointment.barber" value-key="uid" class="m-2" placeholder="Pick a barber" clearable>
					<el-option v-if="appointment.store !== null" v-for="barber in appointment.store.employees" :key="barber.uid" :label="barber.fullName" :value="barber"></el-option>
				</el-select>
			</div>

			<div class="time">
				<el-select :disabled="!appointment.barber" v-model="appointment.time" value-key="start" class="m-2" placeholder="Pick a time" clearable>
					<el-option v-if="appointment.barber !== null" v-for="time in times" :key="time.start" :label="time.name" :value="time"></el-option>
				</el-select>
			</div>

			<div class="confirm">
				<el-button type="primary" size="large" :disabled="!(appointment.date && appointment.barber && appointment.time)" @click="onBook">Book</el-button>
			</div>
		</div>
	</el-container>
</template>

<script>
import StoreService from "@/services/store.service";
import EventService from "@/services/event.service";

export default {
	name: "appointment",
	props: {
		product: Object,
	},
	data() {
		return {
			appointment: { date: null, store: null, barber: null, time: null },
			stores: null,
			barbers: [],
			calendar: [],
			times: [],
			order: null,
		};
	},
	created() {
		this.order = {
			accountUid: null,
			orderStatus: {},
			billingAddress: {},
			deliveryAddress: {},
			paymentProcessor: {},
			cardNonce: null,
			subTotal: this.product.unitPrice,
			beforeTaxTotal: 0,
			shipTotal: 0,
			taxTotal: 0,
			discountTotal: 0,
			grandTotal: 0,
			orderItems: [
				{
					isService: true,
					quantity: 1,
					unitPrice: this.product.unitPrice,
					product: this.product,
					event: {
						title: 'Customer Appointment',
						free: false,
						meta: []
					}
				}
			]
		};
	},
	mounted() {
		StoreService.getStores().then(
			(response) => {
				this.stores = response.data;
			}
		)
	},
	methods: {
		disabledDate: function (time) {
			return (time.getTime() < Date.now() + 1);
		},
		onBook: function () {
			this.order.orderItems[0].event.startTime = this.appointment.time.start;
			this.order.orderItems[0].event.endTime = this.appointment.time.end;
			this.order.orderItems[0].event.preferredName = this.appointment.barber.preferredName;
			this.order.orderItems[0].event.fullName = this.appointment.barber.fullName;
			this.order.orderItems[0].event.accountUid = this.appointment.barber.uid;
			this.order.orderItems[0].event.meta.push({ repeatStart: (new Date(this.appointment.date.toISOString().split("T")[0]).getTime() / 1000)});
			this.order.deliveryAddress = this.appointment.store.address;
			this.$emit('book', this.order);
		},
		onDateChange: function () {
			this.appointment.store = null;
			this.appointment.barber = null;
			this.appointment.time = null;
		},
		onStoreChange: function () {
			this.appointment.barber = null;
			this.appointment.time = null;
		},
		onBarberChange: function () {
			this.appointment.time = null;
			this.times = [];
			this.getTimes();
		},
		getTimes: function () {
			EventService.getAvailableTimesByAccount(this.appointment.barber.uid, this.appointment.date).then(
				(response) => {
					this.calendar = response.data;
					this.calendar.days[0].employees[0].available.forEach(available => {
						let startHour = +(available.start).split(':')[0];
						const endHour = +(available.end).split(':')[0];
						for (startHour; startHour < endHour; startHour += 1) {
							const start = `${startHour.toString().padStart(2, '0')}:00`;
							const end = `${(startHour + 1).toString().padStart(2, '0')}:00`;
							this.times.push({ start: start, end: end, name: `${start} - ${end}` });
						}
					});
				}
			)
		}
	}
};
</script>

<style scoped lang="scss">
.content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-content: center;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	background-color: white;
	.message {
		color: $color-primary;
	}
	> div {
		width: 100%;
		height: 100%;
		margin: 5px 5px 5px 5px;
		.confirm {
			text-align: center;
		}
	}
}
</style>