<template>
	<div id="account-employee-schedule" class="content" v-if="!isLoading">
		<div class="calendar">
			<div class="date-picker">
				<el-date-picker v-model="selectedDate" type="date" v-on:change="getCalendar()" :editable="false" :clearable="false" :format="'dddd, MMMM D, YYYY'" />
			</div>
			<div class="day">
				<div class="event" v-if="!isLoading && events" v-for="event in schedule">
					<event-item :event="event"></event-item>
				</div>
				<div v-if="!schedule">
					<h3>Nothing scheduled for today!</h3>
				</div>
			</div>
		</div>
	</div>

	<!-- <pre>{{ JSON.stringify(calendar, undefined, 2) }}</pre> -->
</template>
<script>
import EventService from '@/services/event.service';
import EventItem from '@/components/account/employee/EventItem.vue';

export default {
	name: "account-employee-schedule",
	props: {
		account: {
			default: new Date(),
			type: Object
		},
	},
	components: {
		'event-item': EventItem
	},
	data() {
		return {
			isLoading: true,
			selectedDate: new Date(),
			calendar: null,
			schedule: null
		}
	},
	computed: {
		day() { return this.calendar.days[0]; },
		employee() { return (this.day.employees.length) ? this.day.employees[0] : null },
		events() { return (this.employee) ? this.employee.events : null },
	},
	mounted() {
		this.getCalendar();
	},
	methods: {
		getCalendar() {
			this.isLoading = true;
			EventService.getEventsByAccount(this.$store.getters['account/data'].uid, this.selectedDate.toISOString(), this.selectedDate.toISOString()).then(
				(response) => {
					this.calendar = response.data;
					if (this.events) {
						const available = this.events.find(e => (e.free === 1));
						this.schedule = [];
						const start = +available.startTime.split(':')[0];
						const end = +available.endTime.split(':')[0];

						for (let index = start; index < end; index++) {
							const result = this.events.find(e => (e.free === 0 && +e.startTime.split(':')[0] === index));
							let temp = {};
							if (result) {
								temp = {
									"startTime": result.startTime,
									"endTime": result.endTime,
									"title": result.title,
									"orderUid": result.orderUid,
									"free": result.free,
								};
								this.schedule.push(temp);
							} else {
								temp = {
									"startTime": `${index}:00`,
									"endTime": `${index + 1}:00`,
									"title": 'Available',
									"free": 1,
								};
								this.schedule.push(temp);
							}
						}

					} else {
						this.schedule = null;
					}

					this.isLoading = false;
				},
				(error) => {
					ElMessage({
						message: `Error loading schedule.`,
						type: 'error',
					});
				}
			);
		},
	}
};
</script>

<style scoped lang="scss">
.calendar {
	box-shadow: $color-shadow 0px 0px 3px 2px;
	padding: 20px;
	border-radius: 10px;
	background-color: invert($color-background, 20%);
	color: $color-text;
	user-select: none;
	.date-picker {
		margin: 0 0 20px 0;
		:deep(.el-date-editor.el-input) {
			width: 300px;
		}
	}
	.day {
		display: flex;
		flex-direction: column;
		.event {
		}
	}
}
</style>