<template>
	<div class="item">
		<div class="time">
			<span>{{ this.event.startTime }} - {{ this.event.endTime }}</span>
		</div>
		<div class="description">
			<span v-if="event.orderUid" class="appointment">{{ `${this.account.fullName}, ${this.order.orderItems[0].product.name}` }}</span>
			<span v-if="!event.orderUid" :class="{ available: event.free }">{{ `${this.event.title}` }}</span>
		</div>
	</div>
</template>
<script>
import OrderService from '@/services/order.service';
import AccountService from '@/services/account.service';

export default {
	name: "EventItem",
	props: {
		event: Object
	},
	data() {
		return {
			order: { default: null, type: Object },
			account: { default: null, type: Object },
		}
	},
	methods: {
		getData() {
			if (this.event.orderUid) {
				OrderService.getOrderByID(this.event.orderUid).then(
					(response) => {
						this.order = response.data;
						AccountService.getAccount(this.order.accountUid).then(
							(response) => {
								this.account = response.data;
							},
							(error) => {
								ElMessage({
									message: `Error loading event information.`,
									type: 'error',
								});
							}
						)
					},
					(error) => {
						ElMessage({
							message: `Error loading event information.`,
							type: 'error',
						});
					}
				);
			}
		}
	},
	mounted() {
		this.getData();
	},
}
</script>
<style scoped lang="scss">
.item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	border-bottom: 1px solid $color-shadow;
	margin: 10px 0 0 0;
	.time {
		width: 125px;
	}
	.description {
		flex: 1;
		color: $color-shadow;
		.available {
			color: $color-success;
		}
		.appointment {
			color: $color-warning;
		}
	}
}
</style>