<template>
	<div id="app">
		<header-nav />
		<div id="main">
			<div id="content">
				<!-- <router-view v-slot="{ Component }">
					<keep-alive>
						<component :is="Component" />
					</keep-alive>
				</router-view>-->
				<router-view />
			</div>
			<footer-nav />
		</div>
	</div>
</template>

<script>
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';

export default {
	name: 'App',
	components: {
		'header-nav': Header,
		'footer-nav': Footer
	},
	computed: {
		currentUser() {
			return this.$store.state.auth.user;
		},
	},
	data: function () {
		return {
			keywords: null
		}
	},
	created() {
		// If user is logged in then we need to start the auth auto refresh cycle
		if (this.currentUser) {
			this.$store.dispatch("auth/autoRefresh");
		}
	},
	methods: {
		onSearch() {
			if (this.keywords && this.keywords.length >= 3) {
				this.$router.push({ name: 'search', query: { keywords: this.keywords } });
			}
		},
	}
};
</script>

<style lang="scss">
html {
	font-family: Roboto, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
	padding: 0;

	body {
		height: 100%;
		margin: 0;
		padding: 0;
		background-color: $color-background;
	}

	h1 {
		font-size: 2em;
		margin: 0;
	}

	h1 {
		font-size: 1.8em;
		margin: 0;
	}

	a {
		text-decoration: none;
	}
}
</style>

<style scoped lang="scss">
#app {
	color: $color-text;
	display: flex;
	flex-flow: column;
	height: 100vh;

	#main {
		width: 100%;
		min-width: 320px;
		margin: 0 auto;
		padding: $header-height 0 0 0;

		flex: 1 1 auto;
		display: flex;
		flex-flow: column;
		background-color: $color-background;

		#content {
			flex: 1 1 auto;
			display: flex;
			flex-flow: column;
			background-color: $color-background;
		}
	}
}
</style>