<template>
	<div class="address">
		<div>{{ address.description }}</div>
		<div>{{ address.line1 }}</div>
		<div v-if="address.line2 !== ''">{{ address.line2 }}</div>
		<div>{{ address.city }}, {{ `${(showFullRegionName) ? address.region.name: address.region.code}` }}, {{ address.postalZip }}</div>
		<div v-if="showCountry">{{ address.country.name }}</div>
	</div>
</template>

<script>
export default {
	name: "Address",
	props: {
		address: Object,
		showFullRegionName: { default: false, type: Boolean },
		showCountry: { default: true, type: Boolean },
	},
}
</script>

<style scoped lang="scss">
.address {
	display: flex;
	flex-direction: column;
	color: $color-text;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
	user-select: none; 
	div:first-child {
		font-weight: 900;
	}
}
</style>