<template>
	<vee-form v-if="address" v-slot="{ handleSubmit }" :validation-schema="schema" as="div">
		<el-form ref="form" class="form" @submit="handleSubmit($event, onSubmit)">
			<el-dialog v-model="show" :title="dialogTitle" @close="$emit('close')" width="400px" draggable destroy-on-close>
				<vee-field as="el-form-item" v-model="address.description" name="description" v-slot="{ value, field, errorMessage }">
					<el-form-item :error="errorMessage">
						<el-input placeholder="Name, e.g. Home, Work etc." v-bind="field" :model-value="value" />
					</el-form-item>
				</vee-field>
				<vee-field v-model="address.line1" name="line1" v-slot="{ value, field, errorMessage }">
					<el-form-item :error="errorMessage">
						<el-input placeholder="Address line 1" v-bind="field" :model-value="value" />
					</el-form-item>
				</vee-field>
				<vee-field v-model="address.line2" name="line2" v-slot="{ value, field, errorMessage }">
					<el-form-item :error="errorMessage">
						<el-input placeholder="Address line 2" v-bind="field" :model-value="value" />
					</el-form-item>
				</vee-field>
				<vee-field v-model="address.city" name="city" v-slot="{ value, field, errorMessage }">
					<el-form-item :error="errorMessage">
						<el-input placeholder="City" v-bind="field" :model-value="value" />
					</el-form-item>
				</vee-field>
				<vee-field v-model="address.region" name="region" v-slot="{ value, field, errorMessage }">
					<el-form-item :error="errorMessage">
						<el-select v-bind="field" value-key="uid" :model-value="value" placeholder="Select province">
							<el-option v-for="(region, index) in regions" :key="region.uid" :label="region.name" :value="region" />
						</el-select>
					</el-form-item>
				</vee-field>
				<vee-field v-model="address.country" name="country" v-slot="{ value, field, errorMessage }">
					<el-form-item :error="errorMessage">
						<el-select v-bind="field" value-key="uid" v-model="selectedCountry" :model-value="value" @change="getRegions" placeholder="Select country" clearable>
							<el-option v-for="(country, index) in countries" :key="country.uid" :label="country.name" :value="country" />
						</el-select>
					</el-form-item>
				</vee-field>
				<vee-field v-model="address.postalZip" name="postalZip" v-slot="{ value, field, errorMessage }">
					<el-form-item :error="errorMessage">
						<el-input style="width: 100px" placeholder="Postal Code" v-bind="field" :model-value="value" />
					</el-form-item>
				</vee-field>
				<template #footer>
					<div class="nav">
						<el-button type="primary" native-type="submit">Save</el-button>
					</div>
				</template>
			</el-dialog>
		</el-form>
	</vee-form>
</template>
<script>
import { ElMessage } from "element-plus";
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
	name: "AddressEdit",
	components: {
		'vee-form': Form,
		'vee-field': Field,
		'vee-error': ErrorMessage,
	},
	props: {
		show: false,
		address: {
			default: {},
			type: Object,
		},
	},
	emits: [
		'save',
		'close'
	],
	data() {
		const schema = yup.object().shape({
			description: yup.string().required("Name is required."),
			line1: yup.string().required("Address line 1 is required."),
			city: yup.string().required("The city name is required."),
			postalZip: yup.string().required("Postal Code is required.").matches(/^[ABCEGHJ-NPRSTVXY]\d[ABCEGHJ-NPRSTV-Z][ -]?\d[ABCEGHJ-NPRSTV-Z]\d$/i, 'Postal Code is not valid.'),
			region: yup.object().required("A province must be selected."),
			country: yup.object().required("A country must be selected."),
		});
		return {
			schema,
			countries: [],
			selectedCountry: null,
			regions: [],
			selectedRegion: null,
			data: null,
		}
	},
	computed: {
		dialogTitle() {
			return (Object.keys(this.address).length) ? 'Update address' : 'New address';
		},
	},
	mounted() {
		this.$store.dispatch("countries/getCountries").then((data) => {
			this.countries = data;
			if (!Object.keys(this.address).length) {
				// Address object is null: set default country (first one in list)
				this.address.country = this.countries[0];
			}
			this.$store.dispatch("regions/getRegions", this.address.country.uid).then((data) => {
				this.regions = data;
				if (!this.address.region) {
					// Region object is null: set default region (first one in list)
					this.address.region = this.regions[0];
				}
			});
		});
	},
	methods: {
		getRegions() {
			if (this.address.country) {
				this.$store.dispatch("regions/getRegions", this.address.country.uid)
					.then(data => {
						this.regions = data;
					});
			}
		},
		onSubmit(address, { resetForm }) {
			this.address.postalZip = this.address.postalZip.toUpperCase();
			this.$emit('save', this.address);
			resetForm();
		},
	}
};
</script>

<style scoped lang="scss">
</style>