<template>
	<div id="AddressList" class="content">
		<div class="item" v-for="(address, index) in addresses" ref="items" @click="select(address)" :class="{ active: isSelected(address) }">
			<address-item :address="address" />
		</div>
		<div v-if="allowNew" class="item new" @click="select(null)">
			<div class="material-icons">add_location_alt</div>
			<div>New address</div>
		</div>
	</div>
	<address-edit v-if="(allowEdit || allowNew) && address && showDialog" :address="address" :show="showDialog" @save="saveAddress" @close="closeDialog" />
</template>

<script>
import AddressEdit from "@/components/account/address/AddressEdit.vue";
import Address from "@/components/account/address/Address.vue";
export default {
	name: "AddressList",
	components: {
		'address-edit': AddressEdit,
		'address-item': Address,
	},
	props: {
		data: { default: [], type: Object },
		default: null,
		allowNew: { default: false, type: Boolean },
		allowSelect: { default: false, type: Boolean },
		allowEdit: { default: false, type: Boolean },
	},
	emits: [
		'select',
	],
	data() {
		return {
			addresses: [],
			address: {},
			selected: null,
			showDialog: false,
		};
	},
	created() {
		this.addresses = this.data;
		this.selected = Object.assign({}, this.default);
	},
	methods: {
		select: function (address) {
			if (this.allowSelect && address) {
				this.selected = address;
				this.$emit('select', address);
			} else if (this.allowEdit || this.allowNew) {
				this.address = Object.assign({}, address);
				this.showDialog = true;
			}
		},
		isSelected: function (address) {
			return (address.uid === this.selected.uid);
		},
		saveAddress() {
			const payload = { 'uid': this.$store.state.auth.user.uid, 'address': this.address }
			if (Object.keys(this.address).length && 'uid' in this.address) {
				this.$store.dispatch("account/updateAddress", payload).then((data) => {
					this.addresses = this.addresses.map(a => a.uid === data.uid ? data : a);
				});
			} else {
				this.$store.dispatch("account/createAddress", payload).then((data) => {
					this.addresses.push(data);
				});
			}
			ElMessage({ message: `Address saved.`, type: 'success', });
			this.showDialog = false;
		},
		closeDialog() {
			this.showDialog = false;
		},
	}
}
</script>

<style scoped lang="scss">
#AddressList.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	margin: 20px 0 20px 0;
	.item {
		width: 300px;
		cursor: pointer;
		background-color: $color-background;
		box-shadow: $color-shadow 0px 0px 3px 2px;
		border-radius: 10px;
		padding: 20px;
		&.active {
			background-color: invert($color-background, 20%);
		}
		&.active:hover {
			background-color: invert($color-background, 20%);
		}
		&:hover {
			background-color: invert($color-background, 5%);
		}
	}
	.new {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.material-icons {
			font-size: 3em;
			padding: 0 0 5px 0;
		}
	}
}
</style>