<template>
	<div id="quantity-button">
		<button @click.prevent="decrement">-</button>
		<span>{{ quantity }}</span>
		<button @click.prevent="increment">+</button>
	</div>
</template>

<script >import { get, set } from "lodash";

export default {
	props: {
		initial: { type: Number, default: 1 },
		min: { type: Number, default: 1 },
		max: { type: Number, default: 999 },
	},
	emits: [
		'increment',
		'decrement',
	],
	data() {
		return {
			loading: true,
			quantity: this.initial
		};
	},
	methods: {
		increment() {
			if (this.quantity < this.max) this.quantity += 1;
			this.$emit('increment', this.quantity);
		},
		decrement() {
			if (this.quantity > this.min) this.quantity -= 1;
			this.$emit('decrement', this.quantity);
		}
	},
}
</script>
<style scoped lang="scss">
#quantity-button {
	margin: 2px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	border: 1px solid $color-text;
	border-radius: 4px;
	background-color: $color-shadow;
	width: 80px;
	user-select: none;
	> button {
		all: unset;
		background: $color-background;
		border-radius: 4px;
		width: 20px;
		text-align: center;
		font-size: 1.1em;
		cursor: pointer;
	}
	> span {
		display: inline-block;
		width: 40px;
		text-align: center;
	}
}
</style>