<template>
	<div id="footer" class="content">
		<div>
			<router-link :to="{ path: '/about' }">About</router-link>
		</div>
		<div>
			<router-link :to="{ path: '/contact' }">Contact</router-link>
		</div>
		<div>
			<router-link :to="{ path: '/faq' }">FAQ</router-link>
		</div>
	</div>
</template>

<script>
export default {
	name: "Login",
};
</script>


<style scoped lang="scss">
#footer.content {
	z-index: 999;
	width: 100%;
	height: $footer-height;
	overflow: hidden;
	background-color: $color-primary;
	box-shadow: 0px 0px 2px 2px $color-accent;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 5px 10px 0 10px;
	> div {
		margin: 0 20px 0 20px;
	}
}
</style>