<template>
	<div id="header">
		<div class="content">
			<router-link to="/">
				<div id="logo">
					<div>
						<img src="@/assets/logo.png" alt="Avenue Barbers" />
					</div>
					<div>
						<span>Avenue</span>
						<span>Barbers</span>
					</div>
				</div>
			</router-link>
			<div id="nav">
				<div id="search">
					<div class="categories">
						<el-select v-model="selectedCategory" value-key="uid" @change="categorySelected()">
							<el-option v-for="category in categories" :label="category.name" :value="category" :key="category.uid"></el-option>
						</el-select>
					</div>
					<div class="keywords">
						<el-input ref="searchBar" v-model="keywords" @keyup.enter="onSearch" placeholder="Search" aria-label="Search" />
					</div>
					<div class="searchButton">
						<el-button type="success" @click="onSearch">
							<span class="material-icons">search</span>
						</el-button>
					</div>
				</div>
			</div>
			<div id="menu">
				<router-link :to="{ name: 'search', query: { category: categoryUid } }">
					<el-tooltip class="box-item" effect="light" content="Services" placement="top" :offset="3">
						<span class="material-icons">content_cut</span>
					</el-tooltip>
				</router-link>
				<router-link :to="{ path: '/cart' }">
					<el-tooltip class="box-item" effect="light" content="Cart" placement="top" :offset="3">
						<el-badge :value="cartQuantity" type="warning" :max="99">
							<span class="material-icons">shopping_cart</span>
						</el-badge>
					</el-tooltip>
				</router-link>
				<router-link v-if="!currentUser" :to="{ path: '/auth', query: { action: 'login', redirect: `${this.$route.fullPath}` } }" replace>
					<el-tooltip class="box-item" effect="light" content="Sign-in" placement="top" :offset="3">
						<span class="material-icons">login</span>
					</el-tooltip>
				</router-link>
				<el-dropdown v-if="currentUser" trigger="click" @command="onAccountMenu">
					<el-tooltip class="box-item" effect="light" content="Account" placement="top" :offset="3">
						<span class="material-icons dropdown">account_circle</span>
					</el-tooltip>
					<template #dropdown v-if="currentUser">
						<el-dropdown-menu v-if="this.$store.getters['auth/isUser']">
							<el-dropdown-item command="user/settings">Account</el-dropdown-item>
							<el-dropdown-item command="user/schedule">Appointments</el-dropdown-item>
							<el-dropdown-item command="user/orders">Orders</el-dropdown-item>
							<el-dropdown-item command="user/reviews">Reviews</el-dropdown-item>
							<el-dropdown-item command="sign-out">Sign Out</el-dropdown-item>
						</el-dropdown-menu>
						<el-dropdown-menu v-if="this.$store.getters['auth/isEmployee']">
							<el-dropdown-item command="employee/settings">Account</el-dropdown-item>
							<el-dropdown-item command="employee/schedule">Appointments</el-dropdown-item>
							<el-dropdown-item command="employee/reviews">Reviews</el-dropdown-item>
							<el-dropdown-item command="sign-out">Sign Out</el-dropdown-item>
						</el-dropdown-menu>
						<el-dropdown-menu v-if="this.$store.getters['auth/isAdmin']">
							<el-dropdown-item command="admin/settings">Account</el-dropdown-item>
							<el-dropdown-item command="admin/schedule">Appointments</el-dropdown-item>
							<el-dropdown-item command="admin/orders">Orders</el-dropdown-item>
							<el-dropdown-item command="admin/reviews">Reviews</el-dropdown-item>
							<el-dropdown-item command="sign-out">Sign Out</el-dropdown-item>
						</el-dropdown-menu>
					</template>
				</el-dropdown>
			</div>
		</div>
	</div>
</template>

<script>
import router from "@/router/router";

export default {
	name: "Login",
	computed: {
		currentUser() {
			return this.$store.state.auth.user;
		},
		cartQuantity() {
			return this.$store.getters['cart/cartQuantity'];
		}
	},
	data: function () {
		return {
			keywords: null,
			categoryUid: '41509b3c-00fd-46ba-a389-ccd9f184a37d', //null
			categories: [],
			selectedCategory: null,
			defaultCategory: {
				name: 'All', uid: ''
			}
		}
	},
	mounted() {
		this.categories.push(this.defaultCategory);
		this.$store.dispatch("category/getCategories").then((data) => {
			data.forEach(element => {
				this.categories.push(element);
			});
			this.selectedCategory = this.categories[0];
		});
	},
	methods: {
		onSearch() {
			if (this.selectedCategory && this.selectedCategory !== this.defaultCategory && !this.keywords) {
				// Search by category
				this.$router.push({ name: 'search', query: { category: this.selectedCategory.uid } });
			} else if (this.selectedCategory === this.defaultCategory && this.keywords && this.keywords.length >= 3) {
				// Search by keywords
				this.$router.push({ name: 'search', query: { keywords: this.keywords } });
			} else if (this.selectedCategory && this.selectedCategory !== this.defaultCategory && this.keywords && this.keywords.length >= 3) {
				// Search by category and keywords
				this.$router.push({ name: 'search', query: { category: this.selectedCategory.uid, keywords: this.keywords } });
			}
		},
		onAccountMenu(action) {
			if (action !== 'sign-out') {
				this.$router.push({ path: `/account/${action}` });
			} else {
				this.$store.dispatch('auth/logout');
				this.$router.push({ name: 'home' });
			}
		},
		categorySelected() {
			this.$nextTick(() => {
				this.$refs.searchBar.focus();
				this.$refs.searchBar.select();
			})
		}
	}
};
</script>

<style scoped lang="scss">
#header {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: $header-height;
	overflow: hidden;
	background-image: linear-gradient(180deg, $color-primary, $color-background);
	box-shadow: 0px 0px 2px 2px $color-background;
	.content {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		padding: 5px 10px 0 10px;
		#logo {
			display: flex;
			flex-direction: row;
			div {
				display: flex;
				align-self: center;
				flex-direction: column;
				img {
					width: 70px;
				}
				span {
					color: #ffffff;
					font-family: "Righteous", cursive;
					font-size: 2.2em;
					text-align: left;
					line-height: 28px;
					padding: 0 0 0 5px;
				}
			}
		}
	}

	#nav {
		flex: 1 0 auto;
		#search {
			padding: 0 20px 5px 20px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			.categories {
				width: 160px;
			}
			.keywords {
				flex: 1;
				margin-left: -2px;
			}
			.searchButton {
				margin-left: -2px;
			}
		}
	}

	#menu {
		padding: 0 10px 0 0;
		margin-bottom: 5px;
		:deep(.el-badge) {
			.el-badge__content {
				right: calc(10px + var(--el-badge-size) / 2);
			}
		}
		span {
			padding: 0 5px 0 5px;
			vertical-align: bottom;
			&.material-icons {
				font-size: 2em;
				color: #fff;
				cursor: pointer;
				&.dropdown {
					font-size: 2.3em;
				}
			}
		}
	}
}
</style>
